<include file="Common:top" />
<link href="__PUBLIC__/Admin/Admin/common/css/order.style.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/Admin/Admin/css/my.css">
<style type="text/css">
ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    <div class="col-lg-12 col-md-12" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:20px;">
        <form action="{:U('Order/saccess')}" class="form-inline" method="post" id="saccess">
            <div class="form-group">
                <select name="ProS" id="ProS" class="form-control">
                    <option value="">请选商品评分</option>
                            <option value="5">5分</option>
                            <option value="4">4分</option>
                            <option value="3">3分</option>
                            <option value="2">2分</option>
                            <option value="1">1分</option>
                </select>
            </div>
            <div class="form-group">
                <select name="SerS" id="SerS" class="form-control">
                    <option value="">请选服务评分</option>
                            <option value="5">5分</option>
                            <option value="4">4分</option>
                            <option value="3">3分</option>
                            <option value="2">2分</option>
                            <option value="1">1分</option>
                </select>
            </div>
            <div class="form-group">
                <select name="LogS" id="LogS" class="form-control">
                    <option value="">请选物流评分</option>
                            <option value="5">5分</option>
                            <option value="4">4分</option>
                            <option value="3">3分</option>
                            <option value="2">2分</option>
                            <option value="1">1分</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" name="stime" id="stime" class="form-control" placeholder="开始时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
            </div>
            <div class="form-group">
                <input type="text" name="etime" id="etime" class="form-control" placeholder="结束时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
            </div>
        <!--     <div class="form-group">
                <input type="text" name="MemberId" placeholder="请填写会员账号（选填）" id="MemberId" class="form-control">
            </div> -->
            <button class="btn btn-primary btn-outline btn-md"><span class="glyphicon glyphicon-search"></span> 搜 索</button> <button class="btn btn-default btn-outline btn-md" type="button" id="import"><span class="glyphicon glyphicon-import"></span>导 出</button>
        </form>

    </div>
        <div class="col-lg-12">
            <div class="ibox-content dash-ibox-content">
                <if condition="$status">
                    您查询的信息不存在
                <else/>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>订单编号</th>
                            <th>商品名称</th>
                            <th>商品评分</th>
                            <th>服务评价</th>
                            <th>物流评价</th>
                            <th>评价内容</th>
                            <th>买家ID</th>
                            <th>评价时间</th>
                            <!-- <th></th> -->
                        </tr>
                    </thead>
                    <tbody>
                    <foreach name="assess" item='ass'>
                        <tr>
                            <td>{$ass.OrderId}</td>
                            <td>{$ass.ProName}</td>
                            <td>{$ass.ClassScore}</td>
                            <td>{$ass.ServiceScore}</td>
                            <td>{$ass.LogisticsScore}</td>
                            <td>{$ass.Content}</td>
                            <td>{$ass.MemberName}</td>
                            <td>{$ass.ctime}</td>
                        </tr>
                        </foreach>
                    </tbody>
                </table>
                </if>
            </div>
            <div style="text-align:right;">{$page}</div>
        </div>
    </div>
</div>
<!--底部版权-->
<include file="Common:footer_copyright"/>
<!--js引用-->
<!-- Mainly scripts -->
<script src="__PUBLIC__/Admin/Admin/js/bootstrap.min.js?v=3.4.0"></script>
<script src="__PUBLIC__/Admin/Admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__PUBLIC__/Admin/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__PUBLIC__/Admin/Admin/js/plugins/echarts/echarts-all.js"></script>
<script src="__PUBLIC__/Admin/Admin/common/js/validaterReg.js"></script>
<script src="__PUBLIC__/Admin/Admin/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script src="__PUBLIC__/Admin/Admin/js/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">NProgress.done()</script>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        $('#saccess').submit(function(){
            var stime=$("#stime").val();
            var etime=$('#etime').val();
            var ProS=$('#ProS').val();
            var SerS=$('#SerS').val();
            var LogS=$('#LogS').val();
            var MemberId=$('#MemberId').val();
            if (!stime && !etime && !ProS && !LogS && !SerS && !MemberId) {
                art.dialog.alert('请至少选择一项查询条件');
                return false;
            };
            if (stime || etime) {
                if (stime && etime) {
                    if (stime>etime) {
                        art.dialog.alert('非法时间');
                        return false;
                    }else{
                        return true;
                    }
                }else{
                    art.dialog.alert('请选择完整的时间段');
                    return false;
                }
            }else{
                return true;
            }
        })

        $('#import').click(function(){
            var stime=$("#stime").val();
            var etime=$('#etime').val();
            var ProS=$('#ProS').val();
            var SerS=$('#SerS').val();
            var LogS=$('#LogS').val();
            var MemberId=$('#MemberId').val();
            if (!stime && !etime && !ProS && !LogS && !SerS && !MemberId) {
                art.dialog.alert('请至少选择一项查询条件');
                return false;
            };
            if (stime || etime) {
                if (stime && etime) {
                    if (stime>etime) {
                        art.dialog.alert('非法时间');
                        return false;
                    }else{
                        art.dialog.tips('正正处理...',3);
                        window.location.href="{:U('Order/assessOut')}?stime="+stime+"&etime="+etime+"&ProS="+ProS+"&SerS="+SerS+"&LogS="+LogS+"&MemberId="+MemberId;
                        return true;
                    }
                }else{
                    art.dialog.alert('请选择完整的时间段');
                    return false;
                }
            }else{
                art.dialog.tips('正正处理...',3);
                window.location.href="{:U('Order/assessOut')}?stime="+stime+"&etime="+etime+"&ProS="+ProS+"&SerS="+SerS+"&LogS="+LogS+"&MemberId="+MemberId;
                return true;
            }
        })
    })
</script>
</html>
