<layout name="Public/PageModel"/>
<style type="text/css">
.content-img{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.gztitle{
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 50px 0px 0px 0px;
  color: #333333;
  font-weight: 600!important;
}
.content-img>img{
  margin: 30px 0px 0px 10%;
  text-align: center;
  width: 80%;
}
</style>
<div class="content-img">
  <label class="gztitle">请先关注公众号</label>
<img src="{$qdgzurl}">
</div>
