.redpackpart{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tit{
	background: #fff;
	height: 60px;
	line-height: 60px;
	padding: 0 10px;
}
.tit img{
	height: 50px;
	width: auto;
	float: left;
	margin-top: 6px;
  margin-left: 10px;
}

/*使用，未使用*/
.navt{
	background: #fff;
	height: 50px;
	margin-top: 2px;
}
.navt li{
	width: 50%;
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
}
.navt li span{
	display: inline-block;
	height: 50px;
}
/*选中状态*/
.checkli span{
	border-bottom: 2px solid #ff0000;
	color: #ff0000;
}
/*列*/
.itembox{
	padding: 0 10px;
	background: #fff;
	margin-top: 10px;
	height: 100px;
}
.itembox li{
	float: left;
}
.itembox li:first-child{
	width: calc(100% - 50px);
}
.itembox li:last-child{
	width:50px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.itembox li:first-child>div{
	display: flex;
	align-items: center;
	height: 70px;
	border-bottom: 1px solid #999;
	padding-right: 20px;
}
.itembox li:first-child>p{
	height: 30px;
	margin: 0;
	padding: 0;
	line-height: 30px;
}
.itembox li:first-child>p>span{
	float: right;
}
.dianlogo{
	width: 30px;
	height: 30px;
	border-radius:50% ;
	display: block;
	flex-shrink: 0;
	margin-right: 4px;
}
.jine{
	color: #ff0000;
	margin-top: 4px;
	font-weight: 600;
	font-size: 16px;
}
.jine:before{
	content: "￥";
	font-size: 12px;
}
/*失效*/
.shixiao{
	opacity: 0.3;
}
