.submitorderpart{
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #F4F4F4;
}
.orderpart{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 53px;
  right: 10px;
  background-color: #ffffff;
  border-top: #dddddd solid 1px;
  overflow: auto;
  padding: 0px 0px 10px 0px;
}
.topsinfo{
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px 0px 10px;
}
.topsinfo>img{
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px 10px 5px 0px;
}
.topsinfo>.sname{
  float: left;
  height: 40px;
  font-size: 16px;
  color: #666666;
}
.topsinfo>.sicon{
  float: right;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #666666;
}
.proslist{
  display: block;
  overflow: hidden;
  height: auto;
  position: relative;
  padding: 0px 0px 0px 0px;
}
.pro_list{
  display: block;
  overflow: hidden;
}
.proinfo{
  display: block;
  position: relative;
  background-color: #FBFBFB;
  height: 85px;
  margin: 0px 0px 0px 0px;
  padding: 10px 8px 10px 10px;
  overflow: hidden;
  border-bottom: #ffffff solid 5px;
}
.proinfo>img{
  float: left;
  height: 60px;
  width: 60px;
}
.proinfo>.pname{
  float: left;
  width: calc(100% - 70px);
  height: 25px;
  font-size: 18px;
  color: #000000;
  margin: 0px 0px 0px 10px;
}
.proinfo>.psnums{
  float: left;
  width: calc(100% - 70px);
  height: 20px;
  font-size: 14px;
  color: #999999;
  margin: 0px 0px 0px 10px;
}
.proinfo>.pprice{
  position: absolute;
  top: 10px;
  right: 7px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #000000;
}
.proinfo>.pprice::before{
  content: "￥";
}
.getmorepros{
  display: none;
  height: 60px;
  overflow: hidden;
  width: 100%;
  background-color: #ffffff;
}
.getmorepros>.getmorebtn{
  display: block;
  width: 100px;
  height: 32px;
  line-height: 30px;
  border: #eeeeee solid 1px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  margin: 14px calc(50% - 50px) 14px calc(50% - 50px);
  padding: 0px 5px 0px 0px;
}
.getmorepros>.getmorebtn>.showgeticon{
  float: right;
  height: 30px;
  line-height: 30px;
}
.showpriceinfo{
  display: block;
  overflow: hidden;
  padding: 0px 10px 0px 10px;
}
.showpriceinfo>.cutleryfee,.showpriceinfo>.fullreduction{
  display: block;
  overflow: hidden;
  height: 30px;
  line-height: 30px!important;
}
.cutleryfee>span:first-child{
  float: left;
  font-size: 16px;
  color: #333333;
}
.cutleryfee>span:last-child{
  float: right;
  font-size: 14px;
  color: #333333;
}
.cutleryfee>span:last-child::before{
  content: "￥";
}

.fullreduction>span:first-child{
  float: left;
  font-size: 16px;
  color: #333333;
}
.fullreduction>span:first-child::before{
  content: "满";
  float: left;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #ff0000;
  margin: 5px 5px 5px 0px;
}
.fullreduction>span:last-child{
  float: right;
  font-size: 14px;
  color: #ff0000;
}
.fullreduction>span:last-child::before{
  content: "￥";
}


.showpriceinfo>.redparts{
  display: block;
  overflow: hidden;
  height: 40px;
  line-height: 40px!important;
}
.showpriceinfo>.redparts{
  display: block;
  overflow: hidden;
  height: 47px;
  line-height: 40px!important;
  border-top: #F4F4F4 dashed 2px;
  padding: 5px 0px 0px 0px;
  margin: 5px 0px 0px 0px;
}
.showpriceinfo>.redparts>span:first-child{
  float: left;
  font-size: 16px;
  color: #333333;
}
.showpriceinfo>.redparts>.redprice{
  float: right;
  font-size: 14px;
  color: #ff0000;
}
.showpriceinfo>.redparts>.redprice::before{
  content: "￥";
}


.showlines{
  display: block;
  height: 18px;
  margin: 0px -10px 0px -10px;
  overflow: hidden;
}
.showlines>.lineleft{
  float: left;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin: 0px 0px 0px -9px;
  background-color: #F4F4F4;
}
.showlines>.lineright{
  float: right;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin: 0px -9px 0px 0px;
  background-color: #F4F4F4;
}
.showlines>.linecenter{
  float: left;
  height: 2px;
  width: calc(100% - 18px);
  margin: 8px 0px 0px 0px;
  border-top: #F4F4F4 dashed 2px;
}
.alltotalprice{
  height: 50px;
  line-height: 50px;
}
.alltotalprice>span{
  float: right;
  height: 50px;
  line-height: 50px;
  color: #333333;
}
.alltotalprice>.aprice{
  color: #ff0000;
}
.alltotalprice>.aprice::before{
  content: "￥";
}
.telinfo{
  display: block;
}
.telinfo>span{
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
}
.telinfo>span::before{
  content: "\A012";
  font-size: 24px;
  color: #666666;
}





/*底部按钮部分*/
.bottompart{
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
}
.bottompart>span{
  float: right;
  height: 28px;
  border: #888888 solid 1px;
  color: #888888;
  font-size: 16px;
  line-height: 26px;
  width: 80px;
  text-align: center;
  border-radius: 3px;
  margin: 11px 10px 0px 0px;
}
