<layout name="Public/PageModel"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/newhome/css/submitorder.css?v=1.2" />
<div class="submitorderpart">
  <div class="orderpart">
    <div class="topsinfo">
      <img src="{$sinfo['Slogo']}" alt="">
      <span class="sname">{$sinfo['storename']}</span>
      <span class="mui-icon mui-icon-arrowright sicon"></span>
    </div>
    <div class="proslist">
      <div class="pro_list">

      </div>
      <div class="getmorepros">
        <span class="getmorebtn" data-type="0"><span class="showtext">展开更多</span><span class="mui-icon mui-icon-arrowdown showgeticon"></span></span>
      </div>
    </div>
    <div class="showpriceinfo">
      <div class="cutleryfee" style="display:none;">
        <span>餐具费</span>
        <span>0.00</span>
      </div>
      <div class="inredinfo">
        <span>进店红包</span>
        <span class="inredprice">0.00</span>
      </div>
      <div class="fullreduction">
        <span>满减优惠</span>
        <span class="fullprice">0.00</span>
      </div>
      <if condition="$cingcount gt 0">
        <div class="redparts">
          <span>红包<span>(可用{$cingcount}个)</span></span>
          <span class="mui-icon mui-icon-arrowright"></span>
          <span class="redprice" data-price='0' data-redid='' data-mredid=''>0.00</span>
        </div>
      </if>
      <div class="showlines">
        <span class="lineleft"></span>
        <span class="linecenter"></span>
        <span class="lineright"></span>
      </div>
      <div class="alltotalprice">
        <span class="aprice">0.00</span>
        <span>合计</span>
      </div>
      <div class="showlines">
        <span class="lineleft"></span>
        <span class="linecenter"></span>
        <span class="lineright"></span>
      </div>
      <div class="eaterinfo eatnums">
        <span>使用人数</span>
        <span class="showeatnum">1人</span>
        <span class="mui-icon mui-icon-arrowright"></span>
      </div>
      <div class="eaterinfo eatremarks">
        <span>备注</span>
        <span class="showremark">备注说明</span>
        <span class="mui-icon mui-icon-arrowright"></span>
      </div>
    </div>
  </div>
  <div class="bottompart">
    <span class="yhinfo">已优惠<span>0.00</span></span>
    <span class="submitbtn">提交订单</span>
    <span class="totalprcie">合计:<span>0.00</span></span>
  </div>
</div>
<!-- 红包列表 -->
<div class="redpackmark">
  <div class="redpacklist">
    <span class="redtitle">可用红包<span class="closeredpack">取消</span></span>
    <div class="redlist">
      <ul>
        <foreach name="cinglist" item="li">
          <li class="redinfo" data-mrid="{$li.ID}" data-rid="{$li.CouponId}" data-redrules="{$li.Rules}">
            <span class="redrules">{$li.Rules}</span>
            <div class="red_info">
              <span>{$li.CouponName}</span>
              <span>到期时间:{$li.edate}</span>
            </div>
          </li>
        </foreach>
      </ul>
    </div>
  </div>
</div>
<!-- 使用人数 -->
<div class="eatingnummark">
  <div class="eatingnuminfo">
    <div class="topinfo">
      <span>使用人数</span>
      <span class="closeeatingnum">取消</span>
    </div>
    <div class="seleatnums">
      <span class="seleatnum seleatnumactive" data-nums="1"><span>1人</span></span>
      <span class="seleatnum" data-nums="2"><span>2人</span></span>
      <span class="seleatnum" data-nums="3"><span>3人</span></span>
      <span class="seleatnum" data-nums="4"><span>4人</span></span>
      <span class="seleatnum" data-nums="5"><span>5人</span></span>
      <span class="seleatnum" data-nums="6"><span>6人</span></span>
      <span class="seleatnum" data-nums="7"><span>7人</span></span>
      <span class="seleatnum" data-nums="8"><span>8人</span></span>
      <span class="seleatnum" data-nums="9"><span>9人</span></span>
      <span class="seleatnum" data-nums="10"><span>10人</span></span>
      <span class="seleatnum" data-nums="10+"><span>10人以上</span></span>
    </div>
  </div>
</div>
<!-- 备注信息 -->
<div class="remarkmark">
  <div class="remarkinfo">
    <div class="remarktopinfo">
      <span>备注信息</span>
    </div>
    <div class="remark_info">
      <textarea name="remarkcontent" class="remarkcontent" placeholder="备注信息:备注说明"></textarea>
    </div>
    <div class="remarklist">
      <span class="remarktitle">可选备注</span>
      <div class="remark_list">
        <foreach name="hualist" item="hl">
          <span class="remark_list_info">{$hl.content}</span>
        </foreach>
      </div>
    </div>
    <div class="remarkbtn">
      <span class="closeremark">取消</span>
      <span class="sureremark">确定</span>
    </div>
  </div>
</div>
<script src="__PUBLIC__/newhome/js/submitorder.js?v=1.2" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  var cartinfo = '{$cartinfo}';
  var orderid ='{$orderid}';
  var payorder_url="{:U('Payment/Index')}?oid={$orderid}";
  var createorder_url="{:U('Orders/createorder')}";
  var inredprice = '{$redprice}';
</script>
