<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/ueditor/ueditor.all.js?v=1.1"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Admin/Admin/css/plugins/chosen/chosen.css">
<script type="text/javascript" src="__PUBLIC__/Admin/diyUpload/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/diyUpload/js/diyUpload.js?v=1.1"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/diyUpload/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/diyUpload/css/diyUpload.css">

<style type="text/css">
  .form-control1 {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  #notices{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
  }
  .tice{
    color:red;
  }
  #box{ width:100%; min-height:400px; background:#FF9}

</style>
<div class="row">
  <div class="panel blank-panel">
    <form method="post" class="form-horizontal" action="{:U('Products/savePro')}" id="savePro">

      <div class="panel-heading">
        <div class="panel-title m-b-md">
        </div>
        <div class="panel-options">

          <ul class="nav nav-tabs" style="text-align:center;">
            <li class="active" id="t0"><a data-toggle="tab" href="proadd.html#tab-1" aria-expanded="true">分类属性</a>
            </li>
            <li class="" id="t1"><a  href="proadd.html#tab-2" id="bbinfo" >基本信息</a>
            </li>
            <li class="" id="t2"><a  href="proadd.html#tab-3" id="xxinfo" >详情信息</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel-body">

        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="ibox-content" style="position:relative;">
              <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2" style="text-align:right;">选择分类 <span class="tice"><b>*</b></span></label>
                <div class="input-group m-b col-lg-3 col-md-4">
                  <select data-placeholder="请选择分类" class="chosen-select" name="ClassType1" id="chose" style="width:350px;" tabindex="2" >
                    <option value="">请选择分类</option>
                    <foreach name="oclass" item="oc">
                      <option value="{$oc.ClassId}" hassubinfo="true">{$oc.ClassName}</option>
                    </foreach>
                  </select>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2" style="text-align:right;">选择子分类 </label>
                <div class="input-group m-b col-lg-3">
                  <select data-placeholder="请选择子分类" class="" name="ClassType" id="sonClass" style="width:350px;" tabindex="2">


                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2" style="text-align:right;">选择供应商 <span class="tice"><b>*</b></span></label>
                <div class="input-group m-b col-lg-3 col-md-4">
                  <select data-placeholder="请选择供应商" class="chosen-select" name="SupplierId" id="SupplierId" style="width:350px;" tabindex="2" >
                    <option value="">请选择供应商</option>
                    <foreach name="Suppliers" item="oc">
                      <option value="{$oc.ID}" hassubinfo="true">{$oc.Supplier}</option>
                    </foreach>
                  </select>
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2" style="text-align:right;">选择商品类型</label>
                <div class="input-group m-b col-lg-3 col-md-4">
                  <select class="form-control" name="ProType" id="ProType" style="width:350px;" tabindex="2" >
                    <option value="1" selected="selected">单品</option>
                    <option value="2">组合商品</option>
                  </select>
                </div>
              </div> -->
              <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2" style="text-align:right;">商品属性 <span class="tice"><b>*</b></span></label>
                <div class="col-sm-6">
                  <div class="form-group" id="valuearea">

                  </div>
                  <div class="input-group m-b col-lg-10 col-md-10" id="chose-attr" value="1">
                    <table class="table table-bordered table-responsive table-condensed">
                      <thead>
                        <tr>
                          <th>属性名称</th>
                          <th>条码</th>
                          <th>售价</th>
                          <!-- <th>数量</th> -->
                          <th>编码</th>
                          <th>供货价</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody id="atrcontent">
                        
                      </tbody>
                    </table>
                    <hr>
                  </div>
                  <div class="input-group m-b">
                    <button type="button" class="btn btn-outline btn-primary btn-md" id="add" onclick="setAttrs();">添加属性</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-warning btn-md btn-outline" onclick="clears();" type="button">清空属性</button>
                  </div>
                </div>
                <div style="border:0px solid orange;" class="input-group col-sm-8 col-sm-offset-2 col-lg-offset-2 col-lg-7" id="table">

                </div>
              </div>
              <!-- <div class="col-lg-3 col-md-4 col-lg-offset-8 col-md-offset-8 pull-right" style="height:300px;border:0px solid red;position:absolute;top:5px;right:5px;">
                <div class="panel">
                  <div class="panel-heading">
                    <i class="fa fa-warning"></i> 提示信息
                  </div>
                  <div class="panel-body">
                    <div class="alert alert-warning">
                      1、分类选择请选择到具体的子分类<br>
                      2、商品属性确定后，只可以增加，不允许删除<br>
                      <b><span style="color:red;">*</span>标记的为必填项、其他为选填项</b>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-primary btn outline" id="next0" type="button">下一步</button>
                </div>
              </div>
            </div>
          </div>


          <div id="tab-2" class="tab-pane">
            <div class="ibox-content" style="position:relative;">

              <!-- <div class="col-lg-3 col-md-4 col-lg-offset-8 col-md-offset-8 pull-right" style="height:300px;border:0px solid red;position:absolute;top:5px;right:5px;">
                <div class="panel">
                  <div class="panel-heading">
                    <i class="fa fa-warning"></i> 提示信息
                  </div>
                  <div class="panel-body">
                    <div class="alert alert-warning">
                      1、商品名称，标题为必填项<br>
                      2、提成按百分比计算，填写5即代表5%，请不要再输入%符号<br>
                      <b><span style="color:red;">*</span>标记的为必填项、其他为选填项</b>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="form-group" >
                <label class="col-sm-2 control-label">商品编号</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" name="ProNumber">
                </div>
              </div>
                
              <div class="form-group" id="ProName" >
                <label class="col-sm-2 control-label">商品名称 <span class="tice"><b>*</b></span></label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" id="ProName_c" name="ProName" value="">
                </div>
              </div>
              <div class="form-group" id="ProTitle">
                <label class="col-sm-2 control-label">商品标题 <span class="tice"><b>*</b></span></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="ProTitle_c" name="ProTitle"> <span class="help-block m-b-none"></span>
                </div>
              </div>
             
              <div class="form-group" id="ProSubtitle">
                <label class="col-sm-2 control-label">商品重量/单位(g) <span class="tice"><b>*</b></span></label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <input type="number" name="Weight" class="form-control" id="Weight" value="0"><span class="input-group-addon">g</span>
                  </div>
                </div>
              </div>
<div class="form-group">
  <label class="col-lg-2 col-md-2 col-sm-2 control-label">是否使用积分兑换</label>

  <div class="col-lg-10 col-md-10 col-sm-10">
    <div class="radio">
      <label><input type="radio" name="IsUseScore" id="IsUseScore" data-s="" value="1" class="optionsRadios">是</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="IsUseScore" id="NOUseScore" value="0" checked="checked" class="optionsRadios">否</label>
    </div>

  </div>
</div>
<div class="form-group" id="">
  <label class="col-lg-2 col-md-2 col-sm-2 control-label">兑换所需积分数</label>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="input-group">
    <input type="number" name="Score" id="Score" class="form-control"><span class="input-group-addon">分</span>
    </div>
  </div>
</div>
<div class="form-group" id="">
  <label class="col-lg-2 col-md-2 col-sm-2 control-label">引流佣金</label>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="input-group">
    <input type="number" name="Cut" id="Cut" class="form-control" value="0"><span class="input-group-addon">%</span>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-lg-2 col-md-2 col-sm-2 control-label">是否立即上架</label>

  <div class="col-lg-10 col-md-10 col-sm-10">
    <div class="radio">
      <label><input type="radio" name="IsShelves" id="" value="1" checked="checked" class="optionsRadios">是</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="IsShelves" id="" value="0" class="optionsRadios">否 <!-- 定时上架：<input id="d11" type="text" name="ShelvesDate" onClick="WdatePicker()" placeholder="点击选择日期"/> --></label>
    </div>

  </div>
</div>
<div class="form-group">
  <div class="col-sm-4 col-sm-offset-2">
    <button class="btn btn-primary btn outline" id="next" type="button">下一步</button>
  </div>
</div>
</div>
</div>

<div id="tab-3" class="tab-pane" style="display:none;">
  <div class="ibox-content"  style="position:relative;">
    <div class="col-lg-3 col-md-4 col-lg-offset-8 col-md-offset-8 pull-right" style="height:300px;border:0px solid red;position:absolute;top:5px;right:5px;">
      <div class="panel">
        <div class="panel-heading">
          <i class="fa fa-warning"></i> 提示信息
        </div>
        <div class="panel-body">
          <div class="alert alert-warning">
            1、商品主图图请上传大小为200*200的图片，以免影响显示效果<br>
            2、商品展示图请上传宽高比例为16：9的图片  分辨率640*360最佳<br>
            3、商品展示图最多显示6张
          </div>
        </div>
      </div>
    </div>
    <div class="form-group has-error" id="logoimg_c">
      <label class="col-sm-2 control-label">商品主图 <span class="tice"><b>*</b></span></label>

      <div class="col-sm-6">
        <div class="input-group m-b">
          <input type="text" class="form-control" name="ProLogoImg" id="logoimg" value=""> <span class="input-group-addon"><a href="###" onclick="upimg('logoimg')">上传</a></span><span class="input-group-addon"><a href="###"  id="logoimg_y">预览 </a> </span>
        </div>
      </div>
    </div>
    <div class="form-group has-warning" id="img1_c">
      <label class="col-sm-2 control-label">商品展示图 <span class="tice"><b>*</b></span></label>

      <div class="col-sm-6">
        <div id="box">
          <div id="test" ></div>
        </div>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
      <label class="col-sm-2 control-label">商品详情</label>
      <div class="col-sm-8">
        <textarea name="ProContent" class="form-control1" id="editor" style="width:100%;height:600px;"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <button class="btn btn-primary" type="submit" id="savepost">保存</button>
      </div>
    </div>
  </div>

</div>
</div>

</div>

</div>
</form>

</div>




<script type="text/javascript">
  var ue = UE.getEditor('editor');

  $(document).ready(function(){
    $('#NOUseScore').click(function(){$("#IsUseScore").attr('data-s','0')})
    $('#IsUseScore').click(function(){$("#IsUseScore").attr('data-s','1')})
    $('#test').diyUpload({
      url:'{:U('Upimg/saveimg')}',
      success:function( data ) {
        console.log( data );
        $('<input type="hidden" class="tempClass" name="imgs[]" value="'+data+'" />').appendTo("#img1_c");
      },
      error:function( err ) {
        console.log( err );
      }
    });
    $("#savePro").submit(function(){
      var ClassType=$("#chose").val();
      var ProName=$('#ProName_c').val();
      var Supplier=$('#SupplierId').val();
      var ProTitle=$("#ProTitle_c").val();
      var imgs=$('.tempClass').val();
      var logoimg=$("#logoimg").val();
      var IsUseScore=$("#IsUseScore").attr('data-s');
      var score=$("#Score").val();
      if (!ClassType) {
        art.dialog.alert('请选择商品所属分类');
        return false;
      };
      if (!Supplier) {
        art.dialog.alert('请选择供货商');
        return false;
      };
      if (!ProName) {
        art.dialog.alert('请填写商品名称');
        return false;
      };
      if (!ProTitle) {
        art.dialog.alert('请填写商品标题');
        return false;
      };
      if (IsUseScore=='1') {
        if (!score) {
          art.dialog.alert('请填写兑换所需积分数');
          return false;
        };
      };
      if (!imgs) {
        art.dialog.alert('请上传商品展示图');
        return false;
      }
      if(!logoimg) {
        art.dialog.alert('请上传商品LOGO图');
        return false;
      }else{
        art.dialog({title:'提示',content:'正在提交数据，请勿重复操作...',lock:true});
        return true;
      }
    })
  $("#addimport").click(function(){$("#imports").show();});
  $("#next0").click(function(){
    var ClassType=$("#chose").val();
    var classs=$("#sonClass").val();
    var Supplier=$('#SupplierId').val();
    if (!ClassType) {
      art.dialog.tips('请选择商品所属分类',2);
      return false;
    };
    if (!Supplier) {
      art.dialog.tips('请选择供货商',2);
      return false;
    };
    if (!($('.input_spec:last').val() && $('.input_barcode:last').val() && $('.input_price').val())) {
      art.dialog.tips('请完善属性信息',2);
      return false;
    }else{
      $("#tab-3").attr('style','display:none');
      $("#tab-2").attr('style','display:block');
      $("#tab-1").attr('style','display:none');
      $("#t0").attr('class','');
      $("#t1").attr('class','active');
      $("#t2").attr('class','');
    }

  })
  $("#next").click(function(){
    var ProName=$('#ProName_c').val();
    var ProTitle=$("#ProTitle_c").val();
    var Weight=$("#Weight").val();
    var IsUseScore=$("#IsUseScore").attr('data-s');
    var score=$("#Score").val();
    // console.log(classs);
    // console.log(ClassType);
    if (!ProName) {
      art.dialog.alert('请填写商品名称');
      return false;
    };
    if (!ProTitle) {
      art.dialog.alert('请填写商品标题');
      return false;
    }
    if (IsUseScore=='1' && !score) {
        art.dialog.alert('请填写兑换所需积分数');
        return false;
    }else{
      $("#tab-3").attr('style','display:block');
      $("#tab-2").attr('style','display:none');
      $("#tab-1").attr('style','display:none');
      $("#t0").attr('class','');
      $("#t1").attr('class','');
      $("#t2").attr('class','active');
    }

  })
  $("#t0").click(function(){
    $("#tab-3").attr('style','display:none;');
    $("#tab-2").attr('style','display:none;');
    $("#tab-1").attr('style','display:block;');
    $("#t0").attr('class','active');
    $("#t1").attr('class','');
    $("#t2").attr('class','');
  })
  $("#t1").click(function(){
    art.dialog.tips('请选择分类属性后点击下一步');
  })
  $("#t2").click(function(){
    art.dialog.tips('请填写基本信息后点击下一步');
  })

  $("#logoimg_y").click(function(){
    art.dialog({title:'图片预览',content:'<img src="{$PICURL}'+$('#logoimg').val()+'" style="width:600px;min-width:50%;" />',lock:true,background: '#000',opacity: 0.45})
  })
  $("#mianimg_y").click(function(){
    art.dialog({title:'图片预览',content:'<img src="{$PICURL}'+$('#mainimg').val()+'" style="width:600px;min-width:50%;" />',lock:true,background: '#000',opacity: 0.45})
  })
  $("#saveimg").click(function(){
    art.dialog({title:'提示',content:'正在提交数据，请勿重复操作...',lock:true});
  })


  $(document).on('click','.delatr',function(){
    $(this).parent().parent().remove();
  })
})


var config = {
  '#sonClass':{},
  '.chosen-select': {},
  '.chosen-select-deselect': {
    allow_single_deselect: true
  },
  '.chosen-select-no-single': {
    disable_search_threshold: 10
  },
  '.chosen-select-no-results': {
    no_results_text: 'Oops, nothing found!'
  },
  '.chosen-select-width': {
    width: "95%"
  }
}
for (var selector in config) {
  $(selector).chosen(config[selector]);
}


  function upimg(id){
    art.dialog.data('homeDemoPath', "{:U('Product/proadd')}");
    art.dialog.data('domid',id);
    art.dialog.open('{:U('Upimg/index')}');
  };
  function clears(){
    $('#atrcontent').html('');
  }
  function checklang(id){
    var v=$("#"+id).val();
    if (v.length>2) {
      $("#"+id).val(v.substr(0,2));
      art.dialog.tips('非法数字',0.5);
    };
  }

  var spid=1;
//添加属性，改版功能
function setAttrs(){
  var _tphtml="<tr class='attr_tr'><td><input type='text' name='specs[]' class='input_spec' placeholder='请输入属性名称' /><input type='hidden' name='pids[]' value='"+spid+"'/></td><td><input type='text' name='barcodes[]' class='input_barcode' placeholder='请输入商品条码'/></td><td><input type='text' name='prices[]' style='width:80px;'  class='input_price' placeholder='请输入售价'/></td><td><input type='text' name='input_codes[]' class='input_codes' placeholder='请输入编码'/></td><td><input type='text' name='input_cosprice[]' style='width:80px;' class='input_cosprice' placeholder='请输入供货价'/></td><td><button class='btn btn-danger btn-xs delatr' type='button'>删除</button></td></tr>";
  //<td><input type='number' name='nums[]' style='width:80px;' class='input_nums' placeholder='请输入数量'/></td>
  var atrlang=$('.attr_tr').length;
  if (atrlang=='0') {
    $('#atrcontent').append(_tphtml);
    spid++;
    $('.input_spec:last').focus();
  }else{
    if ($('.input_spec:last').val() && $('.input_barcode:last').val() && $('.input_price').val() && $('.input_codes:last').val() && $('.input_cosprice:last').val()) {
      $('#atrcontent').append(_tphtml);
      spid++;
      $('.input_spec:last').focus();
    }else{
      art.dialog.tips('请完善属性信息',2);
    }
  }
}
</script>
<script type="text/javascript">
  $(function() {
    var data={$allClass};
    var init = function() {
      var option = [];
      $.each(data,
        function(index, item) {
          var province = item.province;
          option.push('<option value="'+item.id+'">',province,'</option>');
        });
      option = option.join('');
      $('#chose').html(option);
      $("#chose").chosen({
        disable_search_threshold: 5,
        no_results_text: "Oops, nothing found!",
        width: "100PX",
        enable_split_word_search: false,
        placeholder_text_single: '请选择'
      });
      $("#sonClass").chosen({
        disable_search_threshold: 5,
        no_results_text: "Oops, nothing found!",
        width: "100PX",
        enable_split_word_search: false,
        placeholder_text_single: '请选择'
      });
    }
    init();
    $('#chose').change(function(){
      var province = $(this).val();
      var citys = null;
      $.each(data,function(index,item){
        if(item.id == province){
          citys = item.city;
        }
      });
      var option = [];
      $.each(citys,function(index,item){
        option.push('<option value="'+item.id+'">',item.cityname,'</option>');
      });
      $('#sonClass').html(option.join(''));
      $('#sonClass').trigger('chosen:updated');
    });
  });
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/view/proadd.js"></script>
<include file="Common:footer" />
