<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/chosen/chosen.jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/My97DatePicker/WdatePicker.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Admin/Admin/css/plugins/chosen/chosen.css">

<style type="text/css">
    .pro{
        width: 20%;
        float: left;
        position: relative;
        margin-top: 15px;
        /*border: 1px solid green;*/
        /*border-bottom: 1px solid #ccc;*/
    }
    .pinfo{
        width: 96%;
        margin: auto 2%;
        /*height: 250px;*/
        /*border: 1px solid orange;*/
    }
    td img{
        width: 100px;
        height: 100px;
        /*min-width: 290px;*/
    }
    a{
        color: #666;
        font-style: normal;
    }
    a:hover{
        font-style: normal;
        color: #222;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">

  <div class="wrapper wrapper-content animated fadeInRight" style="min-height:700px;">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="col-lg-12 col-md-12" style="border-bottom:0px solid #ccc;padding-bottom:10px;margin-bottom:20px;">
            <form action="" class="form-inline" method="post" id="saveprice">
              <div class="form-group">
                <select name="pros" id="pros" class="form-control">
                  <option value="-1">请选择商品</option>
                  <foreach name='pros' item='pro'>
                    <option value="{$pro.ProIdCard}">{$pro.ProName}</option>
                  </foreach>
                </select>
              </div>
              <div class="form-group">
                <input type="text" name="Sprice" id="Sprice" class="form-control" placeholder="特价价格">
              </div><br><br>
              <div class="form-group">
                <input type="text" name="Stime" id="Stime" class="form-control" placeholder='开始时间'  onfocus="WdatePicker({minDate:'%y-%M-{%d+0}',dateFmt:'yyyy-MM-dd HH:mm:ss'})" >
              </div>
              <div class="form-group">
                <input type="text" name="Etime" id="Etime" class="form-control" placeholder='结束时间' onfocus="WdatePicker({minDate:'%y-%M-{%d+0}',dateFmt:'yyyy-MM-dd HH:mm:ss'})" >
              </div>
              <div class="form-group">
                <textarea name="Remarks" id="Remarks"  class="form-control" placeholder='特价备注'></textarea>
              </div>
              <input type="hidden" name="ID" id="HID" value="">
              <button class="btn btn-primary btn-outline btn-md">保 存</button>
            </form>

          </div>
          <div class="ibox-content">
           <div class="alert alert-warning" style="position:absolute;right:0px;top:0px;">
             1、如需修改特价设置，请先关闭特价，然后修改开启<br>
             2、特价说明会显示在前台特价商品页<br>
             3、如下列商品出现红色框说明特价商品已过期
           </div>

           <table class="table table-bordered table-hover">
            <thead>
             <tr>
              <th>商品名称/规格</th>
              <th>原价</th>
              <th>特价</th>
              <th>开始时间</th>
              <th>结束时间</th>
              <th>特价说明</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
           <foreach name="prodata" item="pro">
            <tr>
              <td>{$pro.ProName}</td>
              <td>{$pro.Price}</td>
              <td>{$pro.sprice}</td>
              <td>{$pro.stime}</td>
              <td>{$pro.etime}</td>
              <td>{$pro.Remarks}</td>
              <td><button class="btn btn-warning btn-xs edit" data-id='{$pro.ID}'>编辑</button>&emsp;<button class="btn btn-danger btn-xs delete" data-id='{$pro.ID}'>删除</button></td>
            </tr>
          </foreach>
        </tbody>
      </table>
    </div>
  </div>
  <div style="text-align:center;">{$page}</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
var jsondata={$jsondata};
var hasPro={$hasPro};
$(document).ready(function(){
  $('#pros').chosen();
  $('#pros').change(function(){
    var pid=$(this).val();
    $.each(hasPro,function(index,item){
      if (pid==item) {
        $('#pros').val('');
        $('#pros').trigger('chosen:updated');
        art.dialog.tips('该商品已设置限时特价');
      };
    })
  })
  $('#saveprice').submit(function(){
    var ProId=$('#pros').val();
    var Sprice=$('#Sprice').val();
    var Stime=$('#Stime').val();
    var Etime=$('#Etime').val();
    console.log(ProId,Sprice,Stime,Etime);
    if (ProId && ProId!='-1' && Sprice && Stime && Etime) {
      if (Stime>Etime) {
        art.dialog.tips('非法时间段',2);
        return false;
      }else{
        art.dialog.tips('处理中...',3);
        return true;
      }
    }else{
      art.dialog.tips('请完善商品特价信息');
      return false;
    }
  })

  $(document).on('click','.edit',function(){
    var ID=$(this).attr('data-id');
    $.each(jsondata,function(index,item){
      if (item.ID==ID) {
        console.log(item);
        $("#pros").val(item.ProIdCard);//设置值
        $('#pros').trigger('chosen:updated');//更新选项
        $('#Sprice').val(item.sprice);
        $('#Stime').val(item.stime);
        $('#Etime').val(item.etime);
        $('#Remarks').val(item.Remarks);
        $('#HID').val(ID);
      };
    })
  })
  $(document).on('click','.delete',function(){
    var _this=$(this);
    var ID=_this.attr('data-id');
    art.dialog.confirm('确定要删除此特价商品吗？',function(){
        art.dialog.tips('处理中...');
        $.ajax({
          url:"{:U('Products/delsprice')}",
          type:"post",
          data:"ID="+ID,
          dataType:"json",
          success:function(msg){
            if (msg.status=='success') {
              art.dialog.tips('删除成功');
              _this.parent().parent().remove();
            }else{
              art.dialog.tips('处理失败');
            }
          }
        })
    })
  })
})
</script>
<include file="Common:footer" />
