<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<style type="text/css">
    .box{
        border:2px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }
</style>

<div class="row  wrapper  white-bg" style="margin:0 1%;">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>权限分配</h5>
            </div>
            <div class="ibox-content">
                <form method="post" action="{:U('Auth/saveDis')}" class="form-horizontal" id="savenote">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请选择用户组</label>

                        <div class="col-sm-2">
                            <select class="form-control m-b" name="GroupId" id="GroupId" value="{$GroupId}" <if condition="$GroupId">disabled="disabled"</if>>
                                <option value="">请选择</option>
                                <foreach name="groups" item="group">
                                    <if condition="$group['GroupId'] eq $GroupId">
                                    <option value="{$group.GroupId}" selected="selected">{$group.GroupName}</option>
                                    <else/>
                                    <option value="{$group.GroupId}">{$group.GroupName}</option>
                                    </if>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择权限</label>
                        <div class="col-sm-2 box" style="margin-bottom:20px;"><label> <input type="checkbox" name="" onclick="sall(this.checked);" id="">全选 </label></div>
                        <foreach name="menus" item="menu">
                            <div class="col-sm-10 pull-right box" style="margin-bottom:2%;">
                                <div class="checkbox" style="border-bottom:1px solid #ccc;">
                                  <label>
                                    <input type="checkbox" dataname="" <?php if (in_array($menu['MenuId'], $nodes)): ?>
                                        checked="checked"
                                    <?php endif ?> name="son[]" class="{$menu.MenuId} all" onclick="csons(this.checked,'{$menu.MenuId}');" value="{$menu.MenuId}">
                                    {$menu.MenuName}
                                </label>
                                </div>
                            <foreach name="menu.sons" item="son">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="son[]" <?php if (in_array($son['MenuId'], $nodes)): ?>
                                    checked="checked"
                                <?php endif ?> class="{$menu.MenuId}_val all" value="{$son.MenuId}" onclick="roots(this.checked,'{$menu.MenuId}')" id="inlineCheckbox1">{$son.MenuName}
                            </label>
                                <if condition="$son['sons']">
                                <div style="display:inline;border-top:1px solid red;border-left:1px solid red;border-right:1px solid red;">
                                &nbsp;&nbsp;&nbsp;[{$son.MenuName}].子菜单：
                                <foreach name="son.sons" item="sson">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="son[]" <?php if (in_array($sson['MenuId'], $nodes)): ?>
                                            checked="checked"
                                        <?php endif ?> id="" class="{$menu.MenuId}_val all" value="{$sson.MenuId}">{$sson.MenuName}
                                    </label>
                                </foreach>
                                </div>
                                </if>
                            </foreach>
                            </div>

                        </foreach>

                        <if condition="$GroupId"><input type="hidden" name="GroupId" value="{$GroupId}"></if>

                            </div>
                            <div class="form-group">
                            <input type="hidden" name="statu" value="{$statu}">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">
    function csons(statu,rid){
        // alert(statu);
        // alert(rid);
        if (statu) {
            $("."+rid+"_val").prop('checked',true);
        }else{
            $("."+rid+"_val").prop('checked',false);
        }
    }

    function roots(statu,id){
        if (statu) {
            $("."+id).prop('checked',true);
        };
        if (statu==false) {
            var sons=$("."+id+"_val");
            var status=true;
            $.each(sons,function(index,item){
                if (item.checked) {
                    status=false;
                };
            })
            if (status) {
                $("."+id).prop('checked',false);
            };
        };
    }
    $(document).ready(function(){
        $("#savenote").submit(function(){
            var gid=$("#GroupId").val();
            if (!gid) {
                art.dialog.alert('请选择用户组');
                return false;
            }else{
                art.dialog({content:'正在处理数据...',lock:true});
                return true;
            }
        })
    })

    function sall(statu){
        if (statu==true) {
            $(".all").prop('checked',true);
        };
        if (statu==false) {
            $(".all").prop('checked',false);
        };
    }
</script>
        <include file="Common:footer" />
