<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<div class="row  wrapper  white-bg" style="margin:0 1%;padding-bottom:10%;">
	<div class="ibox-title">
		<h5>结算记录</h5>
	</div>
	<div class="col-sm-12">
		<table class="table table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th>时间</th>
					<th>类型</th>
					<th>金额</th>
					<th>当前状态</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="data" item="emp" >
					<tr>
						<td>{$emp.CreateDate}</td>
						<td><if condition="$emp['CutType'] eq 2">引流结算<else/>销售结算</if></td>
						<td>{$emp.money}</td>
						<td>{$emp.Status}</td>
				</tr>
			</foreach>
		</tbody>
	</table>
	<div style="text-align:right;">{$page}</div>
</div>
</div>
<script type="text/javascript">
	
</script>
<include file="Common:footer" />
