<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/My97DatePicker/WdatePicker.js"></script>
<link href="__PUBLIC__/Admin/Admin/css/plugins/chosen/chosen.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/Admin/Admin/css/my.css">
<script src="__PUBLIC__/Admin/Admin/js/plugins/chosen/chosen.jquery.js"></script>
<div class="row  wrapper  white-bg" style="margin:0 1%;padding-bottom:10%;">
	<div class="col-lg-12 col-md-12" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:20px;margin-top:20px;">
		<form action="" class="form-inline" method="post"  id="search">
		<div class="form-group">
		<select name="sid" id="sid" class="form-control" value="{$pageinfo.sid}">
			<option value="">请选择结算商户</option>
			<foreach name='stores' item='store'>
			<option value="{$store.id}" style="color:green;font-size:1.1em;">{$store.storename}</option>
			</foreach>
		</select>
	</div>
	<div class="form-group">
		<input type="text" name="strtime" id="stime" class="form-control" readonly="true" value="{$stime}">
	</div>
	<div class="form-group">
		<input type="text" name="endtime" id="etime" class="form-control" placeholder="请选择结束时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="{$endtime}">
	</div>
	<button class="btn btn-primary btn-outline btn-md" type="submit"><span class="glyphicon glyphicon-search"></span> 搜 索</button>
	 <!-- <button class="btn btn-default btn-outline btn-md" type="button" id="import"><span class="glyphicon glyphicon-export"></span> 导出</button> -->
</form>

</div>
	<div class="col-sm-12">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>商户名称</th>
					<th colspan="2">结算信息</th>
					<th colspan="2">其他信息</th>
					<th>操作</th>
				</tr>
				<if condition="$pageinfo">
				<tr>
					<td>{$storename}</td>
					<td colspan="2">可结算总额：{$cutinfo.sallmoney} 订单数量：{$cutinfo.scount}</td>
					<td colspan="2"></td>
					<td><button class="btn btn-primary btn-xs btn-outline" onclick="cuted('{$pageinfo.sid}','{$stime}','{$endtime}')">结算</button> &emsp; <button class="btn btn-default btn-xs" onclick="showdate('{$pageinfo.sid}')">查看明细</button></td>
				</tr>
				</if>
			</thead>
			<!-- <div id="body" class="col-sm-12 col-md-12">
				
			</div> -->
			<tbody id="tbody">
					
			</tbody>









		</table>
		<div style="text-align:right;">{$page}</div>
	</div>
</div>
<script type="text/javascript">
	var jsondata={$jsondata};
	$('#sid').chosen();
	$(document).ready(function(){
		$('#sid').change(function(){
			$.each(jsondata,function(index,item){
				if ($('#sid').val()==item.id) {
					$('#stime').val(item.ctime);
				};
			})
		})
	})
	//查看更多
	function showdate(sid){
		var stime=$('#stime').val();
		var etime=$('#etime').val();
		if (stime && etime) {
			$.ajax({
				url:"{:U('Stores/getmore')}",
				type:"post",
				data:"stime="+stime+"&etime="+etime+"&sid="+sid,
				dataType:"json",
				success:function(msg){
					if (msg.status=='success') {
						var tbody='<tr><th>订单号</th><th>订单额</th><th>商品数量</th><th>运费</th><th>会员ID</th><th>付款时间</th></tr>';
						$.each(msg.data,function(index,item){
							tbody+='<tr><td><a href="{:U('Order/allorder')}?oid='+item.OrderId+'">'+item.OrderId+'</a></td><td>'+item.Price+'</td><td>'+item.Count+'</td><td>'+item.Freight+'</td><td>'+item.MemberId+'</td><td>'+item.PayDate+'</td></tr>';
						})
						$('#tbody').html(tbody);
						//
					}else{
						art.dialog.alert(msg.info);
					}
				}
			})
		}else{
			$.ajax({
				url:"{:U('Stores/getmore')}",
				type:"post",
				data:"sid="+sid,
				dataType:"json",
				success:function(msg){
					if (msg.status=='success') {
						var tbody='<tr><th>订单号</th><th>订单额</th><th>商品数量</th><th>运费</th><th>会员ID</th><th>付款时间</th></tr>';
						$.each(msg.data,function(index,item){
							tbody+='<tr><td><a href="{:U('Order/allorder')}?oid='+item.OrderId+'">'+item.OrderId+'</a></td><td>'+item.Price+'</td><td>'+item.Count+'</td><td>'+item.Freight+'</td><td>'+item.MemberId+'</td><td>'+item.PayDate+'</td></tr>';
						})
						$('#tbody').html(tbody);
						//
					}else{
						art.dialog.alert(msg.info);
					}
				}
			})
		}
	}



	function cuted(sid,stime,etime){
		art.dialog.confirm('请在线下完成交易后确认，确认后将处理对应数据',function(){
			if (etime) {
				$.ajax({
					url:"{:U('Stores/index')}",
					type:"post",
					data:"type=cuted&sid="+sid+"&strtime="+stime+"&endtime="+etime,
					dataType:"json",
					success:function(msg){
						if (msg=='success') {
							art.dialog.tips('结算完成');
							window.location.reload();
						}else{
							art.dialog.alert(msg);
						}
					}
				})
			}else{
				$.ajax({
					url:"{:U('Stores/index')}",
					type:"post",
					data:"type=cuted&sid="+sid,
					dataType:"json",
					success:function(msg){
						if (msg=='success') {
							art.dialog.tips('结算完成');
							window.location.reload();
						}else{
							art.dialog.alert(msg);
						}
					}
				})
			}
		},function(){
			art.dialog.tips('取消操作');
		})
		console.log(sid,stime,etime);
	}

</script>
<include file="Common:footer" />
