<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/My97DatePicker/WdatePicker.js"></script>
<link href="__PUBLIC__/Admin/Admin/css/plugins/chosen/chosen.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/Admin/Admin/css/my.css">
<script src="__PUBLIC__/Admin/Admin/js/plugins/chosen/chosen.jquery.js"></script>
<div class="row  wrapper  white-bg" style="margin:0 1%;padding-bottom:10%;">
	<div class="col-lg-12 col-md-12" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:20px;margin-top:20px;">
		<form action="" class="form-inline" method="post"  id="search">
	<div class="input-group">
		<span class="input-group-addon">截止时间</span>
		<input type="text" name="endtime" id="etime" class="form-control" placeholder="下单时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'%y-%M-%d'})" value="{$data.endtime}">
	</div>
	<button class="btn btn-primary btn-outline btn-md" type="submit"><span class="glyphicon glyphicon-search"></span> 搜 索</button>&emsp;&emsp;<small style="color:red;">仅优惠订单扣除手续费 <if condition="$sinfo['IsFreeCut'] eq 1"><b style="color:#ad0dec;">免结算手续费时间段 {$sinfo.FreeStime}-{$sinfo.FreeEtime}</b></if></small>
	<!-- <button class="btn btn-default btn-md btn-outline" type="button" id="updateCut">更新引流佣金</button>  -->
	 <!-- <button class="btn btn-default btn-outline btn-md" type="button" id="import"><span class="glyphicon glyphicon-export"></span> 导出</button> -->
</form>

</div>
	<div class="col-sm-12">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>金额</th>
					<th>扣点比率</th>
					<!-- <th>结算账户</th> -->
					<th>最后结算时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="tbody">
				<if condition="$info">
				<tr>
					<td>{$info.Allmoney} （平台扣点：{$info.cut}）</td>
					<td>{$info.CutNum}%</td>
					<!-- <td>{$bkinfo.BankName} <br> {$bkinfo.IdCard}</td> -->
					<td>{$info.Lastcut|date='Y-m-d H:i:s',###}</td>
					<td><button class="btn btn-xs btn-warning cut" data-stoken='{$info.stoken}'  stime='{$data.strtime}' etime='{$data.endtime}' data-cut='{$cutype}'>结算</button>&emsp; <button class="btn btn-default btn-xs showdetail" stime='{$data.strtime}' etime='{$data.endtime}' data-stoken='{$info.stoken}'>查看明细</button></td>
				</tr>
				<else/>
				<tr>
					<td colspan="6">该商户暂无待结算信息</td>
				</tr>
				</if>
			</tbody>

                            <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">撤销备注内容</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="##" class="form">
                                            	<div class="form-group" class="col-sm-12">
                                            		<label>备注信息</label>
                                            		<textarea name="Remarks" cols="30" rows="10" style="width:100%;" id="content" value=""></textarea>
                                            		<input type="hidden" name="hid" id="hid" value="">
                                            	</div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveRemarks">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal inmodal fade" id="myModal7" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">撤销备注内容</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="##" class="form">
                                            	<div class="form-group" class="col-sm-12">
                                            		<label>备注信息</label>
                                            		<textarea name="Remarks" cols="30" rows="10" style="width:100%;" id="contents" value=""></textarea>
                                            	</div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>







		</table>
		<div style="text-align:right;">{$page}</div>
	</div>
</div>
<script type="text/javascript">
	$('#sid').chosen();
	$(document).ready(function(){
		$('#search').submit(function(){
			var etime=$('#etime').val();
			var sid=$('#sid').val();			
			if (etime) {
				return true;
			}else{
				art.dialog.tips('请选择结算截止时间');
				return false;
			}
		})
		$('.cut').click(function(){
			var stoken=$(this).attr('data-stoken');
			var stime=$(this).attr('stime');
			var etime=$(this).attr('etime');
			var _html='';
			if (stime && etime) {
				_html='确定要对'+stime+'--'+etime+'（下单时间）内的订单结算吗？';
			}else{
				_html="确定要对全部订单结算吗？";
			}
			art.dialog.confirm(_html,function(){
				art.dialog.tips('处理中...');
				$.ajax({
					url:"{:U('Stores/cuted')}",
					type:"post",
					data:"stime="+stime+"&etime="+etime,
					dataType:"json",
					success:function(msg){
						if (msg.status=='success') {
							art.dialog.tips('结算完成');
							window.location.href="{:U('Stores/CashManager')}";
						}else{
							art.dialog.tips(msg.info);
						}
					}
				})
			},function(){});
		})
		$('.showdetail').click(function(){
			var stoken=$(this).attr('data-stoken');
			var stime=$(this).attr('stime');
			var etime=$(this).attr('etime');
			art.dialog.open("{:U('Stores/getdetail')}?stoken="+stoken+"&stime="+stime+"&etime="+etime,{width:900,height:600});
		})
		$('.showyl').click(function(){
			var stoken=$(this).attr('data-stoken');
			var stime=$('#stime').val();
			var etime=$('#etime').val();
			art.dialog.open("{:U('Storers/getyl')}?stoken="+stoken+"&stime="+stime+"&etime="+etime,{width:900,height:600});
		})
	})
</script>
<include file="Common:footer" />
