<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/My97DatePicker/WdatePicker.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Admin/Admin/css/my.css">
<div class="row  wrapper  white-bg" style="margin:2% 1%;">
	<div class="col-lg-12 col-md-12" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:20px;">
		<form action="" class="form-inline" method="post" id="search">
			<div class="form-group">
				<input type="text" name="stime" id="stime" class="form-control" placeholder="请选择起始时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			</div>
			<div class="form-group">
				<input type="text" name="etime" id="etime" class="form-control" placeholder="请选择查询结束时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			</div>
			<div class="form-group">
				<input type="text" name="member" placeholder="请填写会员账号(选填)" id="member" class="form-control">
			</div>
			<button class="btn btn-primary btn-outline btn-md" type="submit"><span class="glyphicon glyphicon-search"></span> 搜 索</button>
			<button class="btn btn-default btn-outline btn-md" type="button" id="import"><span class="glyphicon glyphicon-import"></span> 导 出</button>
		</form>

	</div>

	<div class="col-sm-12">
			<table class="table table-condensed table-bordered table-hover">
				<thead>
					<tr>
						<td>#</td>
						<td>账号</td>
						<td>真实姓名</td>
						<td>性别</td>
						<td>注册日期</td>
						<td>收货地址</td>
						<td>收货人名</td>
						<td>收货人电话</td>
						<td>操作</td>
					</tr>
				</thead>
				<if condition="$mps['msg']">
				<h3>{$mps.msg}</h3>
				<else/>
				<tbody id="tbody">
					<foreach name="mers" item="mb" >
						<tr>
							<td>{$mb.ID}</td>
							<td>{$mb.MemberId}</td>
							<td>{$mb.MemberName}</td>
							<td>{$mb.Sex}</td>
							<td>{$mb.RegisterDate}</td>
							<td>{$mb.Receving}</td>
							<td>{$mb.RecevingName}</td>
							<td>{$mb.RecevingPhone}</td>
							<td>
								<a class="btn btn-white btn-xs showorder" data-member='{$mb.MemberId}'>查看订单</a>
								<a class="btn btn-default btn-xs remark" data-member='{$mb.ID}' data-toggle="modal" data-target="#myModal6" data-rmk='{$mb.Remarks}'>备注</a>
								<a class="btn btn-warning btn-xs edit" data-member='{$mb.ID}'>编辑</a>
								<a class="btn btn-danger btn-xs delete" data-member='{$mb.ID}'>删除</a>
							</td>
						</tr>
					</foreach>
				</tbody>
				</if>

			</table>
		<div style="text-align:right;">{$page}</div>
	</div>
</div>


<!-- model -start -->
<div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h5 class="modal-title">会员备注信息</h5>
            </div>
            <div class="modal-body">
                <form action="##" class="form">
                	<div class="form-group" class="col-sm-12">
                		<label>备注信息</label>
                		<textarea name="Remarks" cols="30" rows="10" style="width:100%;" id="content" value=""></textarea>
                	</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveRemarks" data-member=''>保存</button>
            </div>
        </div>
    </div>
</div>
<!-- model -end -->
<script type="text/javascript">
var tempDom;
$(document).ready(function(){
	//删除
	$('.delete').click(function(){
		var mid=$(this).attr('data-member');
		art.dialog.confirm('确定要删除此会员吗？请慎重操作',function(){
			window.location.href="{:U('Users/del')}?id="+mid;
		});
	})
	//编辑
	$('.edit').click(function(){
		var id=$(this).attr('data-member');
		art.dialog.open('{:U('Users/edit')}?id='+id,{width:600,height:850});
	})
	$('.showorder').click(function(){
		window.location.href="{:U('Order/allOrder')}?username="+$(this).attr('data-member')+"&type=Users.member&state=0";
	})
	$('.remark').click(function(){
		tempDom=$(this);
		$('#content').val('');
		var rmk=$(this).attr('data-rmk');
		var id=$(this).attr('data-member');
		$('#content').val(rmk);
		$('#saveRemarks').attr('data-member',id);
	})

	$("#saveRemarks").click(function(){
		var id=$(this).attr('data-member');
		var text=$("#content").val();
		$.ajax({
			type:"post",
			url:"{:U('Users/setRmks')}",
			data:"id="+id+"&text="+text,
			dataType:"json",
			success:function(msg){
				if (msg.status=='success') {
					art.dialog.tips('操作成功');
					tempDom.attr('data-rmk',text);
				}else{
					art.dialog.tips('操作失败');
				}
			}
		})
	})

	$('#import').click(function(){
		var stime=$("#stime").val();
		var etime=$("#etime").val();
		var member=$("#member").val();
		if (stime || etime || member) {
			if (stime || etime) {
				if (stime && etime) {
					if (stime<etime) {
						art.dialog.tips('正在处理...',3);
						window.location.href="{:U('Users/memberOut')}?stime="+stime+"&etime="+etime+"&member="+member;
					}else{
						art.dialog.tips('非法时间段');
					}
				}else{
					art.dialog.tips('请选择完整时间段');
				}
			}else{
				art.dialog.tips('正在处理...',3);
				window.location.href="{:U('Users/memberOut')}?member="+member;
			}
		}else{
			art.dialog.confirm('未选择导出条件，要导出全部数据吗？',function(){
				art.dialog.tips('正在处理...',3);
				window.location.href="{:U('Users/memberOut')}";
			})
		}
	})
	$('#search').submit(function(){
		var stime=$("#stime").val();
		var etime=$("#etime").val();
		var member=$("#member").val();
		if (stime || etime || member) {
			if (stime || etime) {
				if (stime && etime) {
					if (stime<etime) {
						art.dialog.tips('正在处理...',3);
						return true;
					}else{
						art.dialog.tips('非法时间段');
						return false;
					}
				}else{
					art.dialog.tips('请选择完整时间段');
					return false;
				}
			}else{
				art.dialog.tips('正在处理...',3);
				return true;
			}
		}else{
			art.dialog.tips('请选择查询条件');
			return false;
		}
	})
})
function getQr(id){
	art.dialog.open('{:U('ArtDialog/MQr')}?mid='+id);
}
</script>
<include file="Common:footer" />
