<layout name="Public/PageModel"/>
<style type="text/css">
    .promptpart {
        margin: 10px 0px 0px 0px;
        padding: 10px 0px 10px 0px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #dddddd;
        background-color: #ffffff;
    }

    .promptpart > label {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 0px;
        text-align: center;
    }

    .promptico {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35px;
    }

    .prompttype-1 {
        font-size: 18px;
        color: #ffb222;
    }
    .prompttype-2 {
        font-size: 18px;
        color: #ff4200;
    }

    .promptmes {
        font-size: 16px;
        color: #999999;
    }
    .success{
        background-image: url("__PUBLIC__/theme2/Images/xuanze2.png");
    }
    .failed{
        background-image: url("__PUBLIC__/theme2/Images/cuowu.png");
    }
</style>

<div class="promptpart">
    <label class="promptico failed"> </label>
    <label class="prompttype prompttype-2">订单核销失败</label>
    <label class="promptmes">蜂之巢原味蜂蜜天然蜂蜜</label>
</div>