<layout name="Public/PageModel"/>
<link rel="stylesheet" href="__PUBLIC__/theme2/css/usershops.css">

<div class="umshops">
	<!-- <div class="userszy"><a href="{:U('user/usersmesg')}"><label>商户自营</label></a></div> -->
	<!-- <div class="userszy"><a href="http://www.huijistore.com/Adminmobile"><label>商户后台</label></a></div> -->
	<div class="userszy"><a href="{:U('Sellermobile/Public/login',array('openid'=>$openid))}"><label>商户后台</label></a></div>
	<!-- <div class="userszy"><a href="{:U('UMWareHouse/Index')}"><label>库存管理</label></a></div>
	<div class="userszy"><a href="{:U('UMOrder/Index')}"><label>订单明细</label></a></div> -->
	<div class="usersjl"><a href="{:U('User/userapplys')}"><label>资料查看</label></a></div>
</div>
