<layout name="Public/PageModel"/>
<link rel="stylesheet" href="__PUBLIC__/theme2/css/usersmesg.css">
<script language="javascript" src="__PUBLIC__/theme2/js/YMDClass.js"></script>
<script language="javascript" src="__PUBLIC__/theme2/js/usersmesg.js"></script>

<div class="umtitle">
	<div>
		<select id="umyear" name="umyear"></select>
		<select id="ummonth" name="ummonth"></select>
	</div>
	<label>月账单</label>
</div>
<div class="umheard">
	<label class="umpro">产品</label>
	<label class="umprice">价格(元)</label>
	<label class="umxsum">销量(件)</label>
</div>
<div class="umplist">
	<!-- <div>
		<div class="umspro">
			<img class="umimg" src="__PUBLIC__/theme2/Images/sml.png">
			<label class="umsproN">蜂之巢天然蜂蜜蜂之巢天然蜂蜜</label>
		</div>
		<label class="umsprice"><span>￥</span>100.00</label>
		<label class="umsxsum">10000</label>
	</div> -->
</div>
