<layout name="Public/PageModel"/>
<!-- <script src="__PUBLIC__/Adminmobile/js/DatePicker/WdatePicker.js"></script> -->
<script src="__PUBLIC__/Adminmobile/js/mobisscroll3.0/js/mobiscroll.custom-3.0.0-beta2.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Adminmobile/js/mobisscroll3.0/css/mobiscroll.custom-3.0.0-beta2.min.css">

<style type="text/css">

.proinfo{
    height:65%;
    width:100%;
    overflow: auto;
}

.proinfo .title{
    position: fixed;
    width:100%;
    height:30px;
    line-height:30px;
    margin:auto;
    background-color: #FAFAFC;
}

.proinfo .prodiv{
    display: table;
    width:98%;
    height:30px;
    line-height:30px;
    margin:auto;
}

.prodiv div{float:left;}
.prodiv div:nth-child(1){width:5%;}
.prodiv div:nth-child(2){width:60%;}
.prodiv div:nth-child(3){width:18%;}
.prodiv div:nth-child(4){width:17%;}


.attrs-info {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.attrs-info b {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #333;
    display: block;
}

.attrs-info span{
    float: left;
    font-size: 14px;
    width: 80px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px 8px 5px auto;
    text-align: center;
}

.attrs-info .attrs-list{
    display: inline-table;
    word-wrap: break-word;
}

.attrs-info .atr{
  background-color: #ccc;
}

.attrs-info .atr-select {
    background-color: #ffb222;
}
#inDate{
  background-color: #ffffff!important;
}



</style>


<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom: 0px;">
    <div>
        <div class="col-lg-7">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>出库单录入</h5>
                    <div class="ibox-tools">
                        <a class="collapse-card">
                            <i style="font-style: italic;" id="InWarehouseId"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content" style="padding-bottom: 10px">

                    <form class="form-horizontal m-t" id="commentForm" novalidate="novalidate">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">出库单号：</label>
                            <div class="col-sm-8">
                                <input id="InWarehouseNumber" type="text" class="form-control" value="" name="InWarehouseNumber">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="fa fa-bookmark" style="color:red"></i>出库仓库：</label>
                            <div class="col-sm-8">
                                <select tabindex="1" class="form-control" id="inputWarehouse">
                                    <option value="-1">请选择出库仓库</option>
                                    <foreach name="sinfo" item="si">
                                        <option value="wh{:substr($si['token'],-8)}_{$si['id']}">{$si['storename']}</option>
                                    </foreach>
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">出库人：</label>
                            <div class="col-sm-8">
                                <select data-placeholder="请选择出库人..." class="form-control" id="inputName">
                                    <option value="-1">请选择出库人</option>
                                    <foreach name="uinfo" item="ui">
                                        <option value="{$ui['id']}">{$ui['TrueName']}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">出库日期：</label>
                            <div class="col-sm-8">
                                <!-- <input id="inDate" type="text" class="form-control Wdate" value="" name="inDate" required="" aria-required="true" onfocus="WdatePicker({startDate:'%y-%M-%d',dateFmt:'yyyy-MM-dd HH:mm'})" style="width:200px;display: inline-block;"> -->
                                <input id="inDate" type="text" class="form-control " value="" name="inDate" required="" aria-required="true" style="display: inline-block;">

                                <!-- <a type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="如：2015-06-05 15:30" data-original-title="" title="" aria-describedby="popover481307">格式提示</a> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">出库类型：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="inType">
                                    <option value="2" selected="selected">线下销售</option>
                                    <option value="0">调拨出库</option>
                                    <option value="1">退货出库</option>
                                    <option value="3">差错出库</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注说明：</label>
                            <div class="col-sm-8">
                                <textarea id="Remarks" name="comment" value="" class="form-control" required="" aria-required="true"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8">
                                <button class="btn btn-block btn-outline btn-primary" type="button" id="SelectPro" onclick="selectProFun();">添加出库商品</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8">
                                <p>
                                <button class="btn btn-block btn-outline btn-primary" type="button" id="btnOkIn" onclick="subPage();">提交出库单据</button>
                                </p>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="addpro" style="display:none;">
    <div id="addprobg" style="position: fixed;z-index: 0;top: 0;left: 0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.6);">

    </div>

    <div style="position: fixed;z-index: 0;width: 95%;height:90%;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);background-color: #FAFAFC;border-radius: 3px;">

        <div style="padding:15px;font-size:16px;"><strong>添加出库商品</strong></div>

        <div class="form-group">

                <label class="control-label" style="padding-left:20px;">选择分类：</label>

                <select class="form-control" style="width:150px;display:inline;" id="addproclass" onchange="getProduct();">
                    <option value="-1" selected="selected">请选择分类</option>
                    <foreach name="cinfo" item="ci">
                        <option value="{$ci['ClassId']}">{$ci['ClassName']}</option>
                    </foreach>
                </select>

        </div>

        <div class="form-group">
                <label class="control-label" style="padding-left:20px;">选择商品：</label>

                <select class="form-control" style="width:150px;display:inline;" id="addpropro" onchange="getProAttr();">
                    <option value="-1" selected="selected">请选择商品</option>
                </select>

        </div>

        <div class="proinfo">
            <div class="title">
                <div style="float:left;width:5%;">&nbsp;</div>
                <div style="float:left;width:60%;">&nbsp;商品</div>
                <div style="float:left;width:18%;">价格</div>
                <div style="float:left;width:17%;">数量</div>
            </div>
            <div style="width:100%;height:30px;"></div>

            <div id="prolist">

            </div>


            <div style="line-height:40px;line-height:40px;position: fixed;bottom: 0px;height: 40px;width: 100%; background-color:#FAFAFC;">
                <div style="float:left;width:100%;text-align:center;" onclick="subPro();"><span>确定</span></div>
            </div>

        </div>


        <div id="proattr" style="background-color:#FAFAFC;border:1px solid #333333;height:60%;width:100%;bottom:0px;position:fixed;overflow: auto; display:none;">

            <div style="line-height:40px;line-height:40px;position: fixed;height: 40px;width: 100%; background-color:#FAFAFC;">
                选择商品属性
            </div>
            <div id="proattrsign" style="height: 40px;width: 100%;"></div>

            <div style="height: 40px;width: 100%;"></div>

            <div style="line-height:40px;line-height:40px;position: fixed;bottom: 0px;height: 40px;width: 100%; background-color:#FAFAFC;">
                <div style="float:left;width:50%;text-align:center;" onclick="subAttr();"><span>确定</span></div>
                <div style="float:left;width:50%;text-align:center;" onclick="escAttr();"><span>取消</span></div>
            </div>

        </div>


    </div>

</div>
<script type="text/javascript">
/////日期控件//////
$(function () {
  var currYear = (new Date()).getFullYear();
  var opt={
        preset: 'date', //日期
        theme: 'android-holo-light', //皮肤样式
        lang: 'zh',  //只用语言
        display: 'bottom', //显示方式
        mode: 'clickpick', //日期选择模式
        dateFormat: 'yy-mm-dd', // 日期格式
        monthNames:['01','02','03','04','05','06','07','08','09','10','11','12'],
        monthNamesShort:['01','02','03','04','05','06','07','08','09','10','11','12'],
        setText: '确定', //确认按钮名称
        cancelText: '取消',//取消按钮名籍我
        dateOrder: 'yymmdd', //面板中日期排列格式
        endYear:2020 //结束年份
      };
  // $("#inDate").val('').scroller('destroy').scroller($.extend(opt['date'], opt['default']));
   $("#inDate").mobiscroll().datetime(opt);
});

var ajaxLock=false;
var testTemp=null;
var pageObj={addproclass:$("#addproclass"),addpropro:$("#addpropro"),proinfo:$("#proinfo"),addpro:$("#addpro"),prolist:$("#prolist"),proattr:$("#proattr"),proattrsign:$("#proattrsign")};

    function selectProFun()
    {
        pageObj.addpro.show(100);
    }
    function subPro()
    {
        pageObj.addpro.hide(100);
    }
    // function WdatePicker(){
    //    // startDate:'%y-%M-%d',dateFmt:'yyyy-MM-dd HH:mm';
    // }
    function getProduct()
    {
        var cidVar=pageObj.addproclass.val();
        if (cidVar=='-1') {
            pageObj.addpropro.find('option[value!="-1"]').remove();
            return false;
        }

        if (ajaxLock) {
            return false;
        }
        ajaxLock=true;

        $.ajax({
            url:"{:U('UMWareHouse/getProduct')}",
            type:"post",
            data:{cid:cidVar},
            dataType:"json",
            beforeSend:function(){
              tips('waiting','数据处理中...');
            },
            success:function(msg)
            {
                if (msg.status)
                {
                    if (msg.data!='-1')
                    {
                        setProduct(msg.data);
                    }
                    else
                    {
                        tips('notice','该分类下没有商品',2000,'weui_icon_notice');
                    }
                }
                else
                {
                    tips('notice','操作失败',2000,'weui_icon_notice');
                }
            },
            complete:function()
            {
                $("#waiting").hide();
                ajaxLock=false;
            }
          });
    }

    function setProduct(data)
    {
        pageObj.addpropro.find('option[value!="-1"]').remove();

        var appendStr="";

        for(var key in data){
            appendStr+="<option value=\""+data[key].ProId+"\">"+data[key].ProName+"</option>";
        }
        pageObj.addpropro.append(appendStr);
    }



    function getProAttr()
    {
        var pidVar=pageObj.addpropro.val();
        if (pidVar=='-1') {
            return false;
        }

        if (ajaxLock) {
            return false;
        }
        ajaxLock=true;

        $.ajax({
            url:"{:U('UMWareHouse/getProAttr')}",
            type:"post",
            data:{pid:pidVar},
            dataType:"json",
            beforeSend:function(){
              tips('waiting','数据处理中...');
            },
            success:function(msg)
            {
                if (msg.status)
                {
                    if (msg.data!='-1')
                    {
                        setProAttr(msg.data);
                        pageObj.proattr.show(300);
                    }
                    else
                    {
                        tips('notice','获取数据错误',2000,'weui_icon_notice');
                    }
                }
                else
                {
                    tips('notice','操作失败',2000,'weui_icon_notice');
                }
            },
            complete:function()
            {
                $("#waiting").hide();
                ajaxLock=false;
            }
          });
    }

    function setProAttr(data)
    {
        pageObj.proattr.find('.attrs-info').remove();

        var appendStr="";

        for(var key in data){
            appendStr+="<div class=\"attrs-info\"><b>"+key+"</b><div class=\"attrs-list\">";

                for(var keyx in data[key])
                {
                    appendStr+="<span class=\"attr atr\" data-s=\""+keyx+"\">"+data[key][keyx]+"</span>";
                }

            appendStr+="</div></div>";
        }
        pageObj.proattrsign.after(appendStr);
        bindAttrClick();
    }

    // <div class="attrs-info">
    // <b>重量</b>
    //     <div class="attrs-list">
    //         <span class="attr atr" data-s="7">375g</span>
    //         <span class="attr atr" data-s="8">375g</span>
    //     </div>
    // </div>


    var selectedAttrObj=null;
    function bindAttrClick(){

        $(".attr").click(function(){
            selectedAttrObj=$(this);
            selectedAttrObj.parent().find(".attr").removeClass("atr-select").removeClass("atr").addClass("atr");
            selectedAttrObj.addClass("atr-select");
            selectedAttrObj=null;
        });
    }

    function subAttr()
    {
        if ($(".attrs-info").length!=pageObj.proattr.find(".atr-select").length) {
            tips('notice','请选择商品属性',2000,'weui_icon_notice');
            return false;
        }
        else
        {
            //添加商品到商品列表
            var proinfoArray={pname:pageObj.addpropro.find("option:selected").text(),pcid:pageObj.addpropro.val(),cid:pageObj.addproclass.val(),pcname:""};
            var attrSelectObj=null;
            $(".atr-select").each(function(k,v){
                attrSelectObj=$(v);
                proinfoArray.pcid+=attrSelectObj.attr('data-s');
                proinfoArray.pcname+=attrSelectObj.html()+",";

            });

            if ($(".pro-"+proinfoArray.pcid).length>0) {
                tips('notice','已经添加过该商品',2000,'weui_icon_notice');
            }
            else
            {

                var insertProStr=proinfoStr.replace(/PROIDREPLACE/g, proinfoArray.pcid);
                insertProStr=insertProStr.replace(/PROCIDREPLACE/g, proinfoArray.cid);
                insertProStr=insertProStr.replace(/PRONAMEREPLACE/g, proinfoArray.pname+" "+proinfoArray.pcname);
                pageObj.prolist.append(insertProStr);
                bindRemoveProClick();
            }

            pageObj.proattr.hide(300);
            pageObj.addpropro.get(0).selectedIndex=0;
        }

    }

    var proinfoStr='<div class="prodiv pro-PROIDREPLACE" data-id="PROIDREPLACE" data-cid="PROCIDREPLACE" data-price="0" data-nums="0"><div><span class="removepro glyphicon glyphicon-remove" aria-hidden="true"></span></div><div>PRONAMEREPLACE</div><div><input type="text" class="form-control input-innum price" style="width:80%;padding: 6px 6px;" value="0"></div><div><input type="text" class="form-control input-innum nums" style="width:80%;padding: 6px 6px;" value="0"></div></div>';

    function escAttr()
    {
        pageObj.addpropro.get(0).selectedIndex=0;
        pageObj.proattr.hide(300);
    }

    function bindRemoveProClick()
    {
        $(".removepro").click(function(){
            $(this).parents('.prodiv').remove();
        });
    }


    function subPage()
    {
//InWarehouseNumber   inputWarehouse   inputName   inDate     inType  Remarks   prolist
        var inputVar={id:$("#InWarehouseNumber").val(),whid:$("#inputWarehouse").val(),nums:0,whname:$("#inputWarehouse").find("option:selected").text(),ipid:$("#inputName").val(),ipname:$("#inputName").find("option:selected").text(),idate:$("#inDate").val(),itype:$("#inType").val(),remarks:$("#Remarks").val()};
        var proarray={};

        if (inputVar.whid=="-1") {
            tips('notice','请选择出库仓库',2000,'weui_icon_notice');
            return false;
        }
        if (inputVar.ipid=="-1") {
            tips('notice','请选择出库人',2000,'weui_icon_notice');
            return false;
        }
        if (inputVar.idate=="") {
            tips('notice','请填写出库日期',2000,'weui_icon_notice');
            return false;
        }

        //pageObj.prolist

        var tempNowProObj=null;

        pageObj.prolist.find(".prodiv").each(function(k,v){
            tempNowProObj=$(v);
            proarray[tempNowProObj.attr("data-id")]={price:tempNowProObj.find(".price").val(),nums:tempNowProObj.find(".nums").val(),cid:tempNowProObj.attr("data-cid")};
            tempNowProObj=null;
        });

        if (ajaxLock) {
            return false;
        }
        ajaxLock=true;

        $.ajax({
            url:"{:U('UMWareHouse/addOutWarehouse')}",
            type:"post",
            data:{mt:inputVar,st:proarray},
            dataType:"json",
            beforeSend:function(){
              tips('waiting','数据处理中...');
            },
            success:function(msg)
            {
                if (msg.status)
                {
                    tips('notice','出库成功',2000,'weui_icon_notice');
                }
                else
                {
                    tips('notice','操作失败',2000,'weui_icon_notice');
                }
            },
            complete:function()
            {
                $("#waiting").hide();
                ajaxLock=false;
            }
          });
    }


</script>
