<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/home/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/gethongbao.css"/>
	</head>

	<body>
		<!---->
		<div class="tit">
			<span style="color: #ff0000; float: left;"><span style="font-weight: bolder;margin-right: 20px;">领红包</span><span style="font-weight: lighter !important;">少花钱</span></span>
			<img src="__PUBLIC__/home/img/hongbao3.png" />
		</div>
		
		<!--红包-->
		<div class="hb">
			<div class="hbt">
				<span class="mianzhi">{$coupon.Rules}</span>
				<small>无门槛现金抵用红包</small>
			</div>
			<div class="hbb">
				<span>仅限本店使用</span>
				<span class="youxiaoqi">有效期至{$coupon.ExpiredDate}</span>
			</div>
		</div>
		
		<!--领取规则-->
		<h4>做任务领红包</h4>
		<ul class="uli">
			<li>分享给3位好友，并成功关注本店。<span class="cha">（差1人）</span></li>
		</ul>
			<div class="button">领取红包</div>
		
			<!--使用规则-->
		<h4>使用规则</h4>
		<div class="shiyongguize">
			一.使用规则<br />
			1.红包有效期至{$coupon.ExpiredDate},请在有效期内使
			   用，不支持提现。<br />
			2.每次消费可使用一个红包，不叠加。<br />
			3.本店红包只限在本店可用红包商品中使用。<br />
			4.本店打折商品不参与红包优惠。<br />
			二.退款规则<br />
			1.使用红包的订单若发生退款或关闭，可退金额及红包
			   可退面额以消费者退款页面的信息为准，退回后的红
			   包在{$coupon.ExpiredDate}前仍可使用，逾期失
			   效。<br />
		</div>
		
		
		
		
		
		
		
		<script src="__PUBLIC__/home/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>