<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/My97DatePicker/WdatePicker.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/Admin/css/my.css">

<style type="text/css">
    .pro{
        width: 20%;
        float: left;
        position: relative;
        margin-top: 15px;
    }
    .pinfo{
        width: 96%;
        margin: auto 2%;
    }
    .pinfo img{
        width: 100%;
    }
    a{
        color: #666;
        font-style: normal;
    }
    a:hover{
        font-style: normal;
        color: #222;
    }
    .remove{
      position: absolute;
      right: 15px;
      top: 10px;
      color: red;
      line-height: 1em;
      height: auto;
      z-index: 1;
      font-size: 1.1em;
  }
  .remove:hover{
    cursor: pointer;
    background: #ccc;
}

.del:hover{
    cursor: pointer;
    background: #ccc;
}
 .up{
      position: absolute;
      right: 135px;
      color: green;
      top: 10px;
      line-height: 1em;
      height: auto;
      z-index: 1;
      font-size: 1.2em;
  }
  .up:hover{
    cursor:pointer;
    background: #fff;
}
</style>
<div class="row wrapper border-bottom white-bg page-heading">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><button class="btn btn-primary btn-outline"><a href="{:U('Products/proadd')}">添加商品</a></button></h5>
                    </div>
                    <div class="col-lg-12 col-md-12" style="border-bottom:0px solid #ccc;padding-bottom:10px;margin-bottom:20px;">
                        <form action="{:U('Products/search')}" class="form-inline" method="post" id="search">
                            <div class="form-group">
                                <input type="text" name="ProName" placeholder="请填写商品名称" id="ProName" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="ProNumber" id="ProId" class="form-control" placeholder="请填写商品编号(选填)">
                            </div>
                            <div class="form-group">
                                <select name="ClassType" id="ClassType" class="form-control">
                                    <option value="">请选择分类(选填)</option>
                                    <foreach name="allClass" item="part">
                                        <if condition="$part['ClassGrade'] eq '1'">
                                            <option value="{$part.ClassId}" style="color:green;font-size:1.1em;">{$part.ClassName}</option>
                                            <else/>
                                            <option value="{$part.ClassId}">&nbsp;&nbsp;&nbsp;&nbsp;{$part.ClassName}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="IsShelves" id="IsShelves" class="form-control">
                                    <option value="2">全部</option>
                                    <option value="1">出售中</option>
                                    <option value="0">已下架</option>
                                </select>
                            </div><input type="hidden" name="statu" value="key">
                            <button class="btn btn-primary btn-outline btn-md"><span class="glyphicon glyphicon-search"></span> 搜 索</button>
                            <button class="btn btn-default btn-outline btn-md" type="button" id="import"><span class="glyphicon glyphicon-import"></span> 导 出</button>
                        </form>

                    </div>
                    <div class="ibox-content">
                        <?php $i=0 ?>
                        <foreach name="products" item="pro">
                            <div class="pro">
                            <span id="cc{$pro.ID}" data="{$pro.IsShelves}" <if condition="$pro['IsShelves'] eq '1'">class="up glyphicon glyphicon-circle-arrow-down" title="点击下架"<else/>class="up glyphicon glyphicon-circle-arrow-up" title="点击上架"</if> onclick="up('{$pro.ProId}','{$pro.ID}');"></span>
                                <span class="glyphicon glyphicon-remove remove" title="删除" alt="删除" onclick="dele('{$pro.ProId}')"></span>
                                <a href="{:U('Products/proedit')}?pid={$pro.ProId}">  <div class="pinfo"><img src="{$PICURL}{$pro.img}" alt=""><div style="text-align:left;">商品名称：{$pro.ProName} <br> 商品编号：{$pro.ProNumber} <br>销量：{$pro.SalesCount}  <br>售价： <?php echo number_format($pro['Price'],2) ?> </div></div></a></div>
                                <?php $i++; if ($i%5==0) {
                                    echo "<div style='clear:both;'></div><hr>";
                                } ?>
                            </foreach>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                    <div style="text-align:center;">{$page}</div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        function del(id){
        // alert('删除预留，您正在删除商品:'+id);
        art.dialog.open('{:U('Static/edit')}?pid='+id,{width:600,height:960});
    }

    function qr(id){
        art.dialog.open('{:U('ArtDialog/createQr')}?pid='+id,{width:600,height:400});
    }

    function dele(id){
        art.dialog.confirm('您确定要删除吗？此商品的相关信息都会被删除，请慎重操作',function(){
            art.dialog({content:'正在处理...',lock:true});
            window.location.href="{:U('Products/deletePro')}?id="+id;
        },function(){
            art.dialog.tips('操作取消',0.5);
        })
    }
    function up(pid,unid){
    var statu='1';
    if ($("#cc"+unid).attr('data')=='1') {
        statu='0';
    };
    $.ajax({
        type:"post",
        url:"{:U('Products/setUp')}",
        data:"pid="+pid+"&statu="+statu,
        dateType:"json",
        success:function(msg){
            if (msg=='success') {
                art.dialog.tips('操作成功...');
                if (statu=='1') {
                    $("#cc"+unid).attr('class','up glyphicon glyphicon-circle-arrow-down');
                    $("#cc"+unid).attr('title','点击下架');
                    $("#cc"+unid).attr('data','1');
                };
                if (statu=='0') {
                    $("#cc"+unid).attr('class','up glyphicon glyphicon-circle-arrow-up');
                    $("#cc"+unid).attr('title','点击上架');
                    $("#cc"+unid).attr('data','0');
                };
            };
            if (msg=='error') {
                art.dialog.tips('操作失败');
            };
        }
    })
}
    $(document).ready(function(){
        $("#search").submit(function(){
            var name=$("#ProName").val();
            var id=$("#ProId").val();
            var cla=$("#ClassType").val();
            var IsShelves=$('#IsShelves').val();
            if (!name && !id && !cla && !IsShelves) {
                art.dialog.alert('请输入您要查询的信息');
                return false;
            }else{
                art.dialog({content:'正在查询...',lock:true});
                return true;
            }
        })
        $('#import').click(function(){
            var name=$("#ProName").val();
            var id=$("#ProId").val();
            var cla=$("#ClassType").val();
            var IsShelves=$('#IsShelves').val();
            if (!name && !id && !cla && !IsShelves) {
                art.dialog.alert('请输入您要查询的信息');
                return false;
            }else{
                art.dialog.tips('正在处理...',3);
                window.location.href="{:U('Products/search')}?type=import&statu=key&IsShelves="+IsShelves+"&ProName="+name+"&ProNumber="+id+"&ClassType="+cla;
            }
        })
        $("#searchtime").submit(function(){
            var stime=$("#stime").val();
            var etime=$("#etime").val();
            if (!stime) {
                art.dialog.alert('请选择查询起始时间');
                return false;
            };
            if (!etime) {
                art.dialog.alert('请选择查询结束时间');
                return false;
            };
            if (stime>etime) {
                art.dialog.alert('时间范围错误');
                return false;
            }else{
                art.dialog({content:'正在查询...',lock:true});
                return true;
            }

        })
    })
</script>
<include file="Common:footer" />
