img{
  width: 100%;
}
a,a:link,a:visited,a:hover{
  text-decoration: none;
}
/*轮播图区域*/
.swiper-container-home{
  min-height: 100px;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #dddddd;
}
.imgslide{
  width: 100%;
}
.swiper-pagination-home{
  bottom:4px!important;
  padding: 0px 10px 0px 0px;
  text-align: right;
}
.swiper-pagination-home>.swiper-pagination-bullet{
  margin: 0px 3px 0px 3px!important;
  border-style: solid!important;
  border-width: 1px!important;
  border-color: #ff1818!important;
  background-color: #ffffff!important;
  opacity: 1!important;
}
.swiper-pagination-home>.swiper-pagination-bullet-active{
  margin: 0px 3px 0px 3px!important;
  background-color: #ff1818!important;
}
/*轮播图end*/
.home-contents{
  padding: 0px 0px 0px 0px;
}
/*产品区域*/
.propart div{
  overflow: hidden;
}
.propart{
  display: block;
  background-color: #ffffff;
  margin: 10px 0px 0px 0px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  overflow: hidden;
}
.pro-title,.pro-line-1{
  display: block;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-color: #dddddd;
  border-width: 1px;
}
.pro-line-1{

}
.pro-line-1-left{
  float: left;
  width: 50%;
}
.pro-line-1-right{
  display: block;
  width: 50%;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  margin: 0px 0px 0px 0px;
}
.pro-line-1-right:last-child{
  margin: 0px 0px 0px 0px;
  border-bottom-style: none;
  border-bottom-width: 0px;
}
.pro-line-2{
  display: block;
  background-color: #ffffff;
  margin: 0px -1px 0px 0px;
}
.pro-line-2>div{
  float: left;
  width: 33.333%;
  border-right-style: solid;
  border-color: #dddddd;
  border-width: 1px;
}
.pro-line-3{
  display: block;
  background-color: #ffffff;
  margin: 0px -1px -1px 0px;
}
.pro-line-3>div{
  float: left;
  width: 50%;
  border-bottom-style: solid;
  border-right-style: solid;
  border-color: #dddddd;
  border-width: 1px;
}
.pro-part-3{
  display: block;
  background-color: #f3f3f3;
  margin: -5px 0px 0px 0px;
  padding: 0px 1px 0px 1px;
}
.pro-part-3>div:nth-child(odd){
  float: left;
  width: 50%;
  margin: 5px 0px 0px -1px;
}
.pro-part-3>div:nth-child(even){
  float: right;
  width: 50%;
  margin: 5px -1px 0px 0px;
}
.pro-part-3>div{
  background-color: #ffffff;
}
.proname{
  display: block;
  width: 100%;
  color: #333333;
  line-height: 30px;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.proprice{
  display: block;
  width: 100%;
  color: #ff4200;
  line-height: 35px;
  font-size: 16px;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.proprice>span{
  font-size: 12px;
}
.lookpro{
  display: block;
  padding:12px 0px 12px 0px;
  text-align: center;
}
.lookpro>label{
  text-align: center;
  font-size: 14px;
  color: #999999;
  line-height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #999999;
  border-radius: 4px;
  padding: 0px 5px 0px 5px;
  margin: 0px 0px 0px 0px;
}
/*产品区域end*/
/*显示附近门店的图标样式*/
.childshop{
  display: block;
  position: relative;
  height: 51px;
  padding: 5px 50px 5px 80px;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  z-index: 90;
}
.childshop_img{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 8px;
  bottom: 8px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
}
.childshop_name{
  display: block;
  margin: 0px 0px 0px 0px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.childshop_title{
  display: block;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
