body{
  background-color: #eeeeee!important;
}
/*抬头搜索部分*/
.headers{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;

}
.headers>img:nth-child(1){
  float: left;
  width: 40px;
  height: 40px;
  padding: 8px 8px 8px 8px;
}
.headers>img:nth-child(2){
  float: right;
  width: 40px;
  height: 40px;
  padding: 8px 8px 8px 8px;
}
.searchpart{
  display: block;
  background-color: rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin: 5px 15px 5px 15px;
  height: 30px;
  border-radius: 15px;
  padding: 0px 8px 0px 0px;
  position: relative;
  z-index: 2px;
}
.searchpart>img{
  position: absolute;
  top: 0px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 7px 7px 7px 7px;

}
.searchpart>label{
  float: left;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #808080;
  margin: 0px 0px 0px 5px;
}
.searchinput{
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  line-height: 30px;
  padding: 0px 35px 0px 15px;
}
/*抬头搜索部分end*/
/*未关注公众号*/
.subscribe{
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
  color: #ffffff;
  line-height: 30px;
}
.subscribeqr{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 111;
  background-color: rgba(0, 0, 0, 0.5);
}
.subscribeqr>div{
  display: block;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 10%;
  right: 10%;
}
.subscribeqr>div>label{
  display: block;
  margin: 10px 0px 0px 0px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}
