* {
  padding: 0px;
  margin: 0px;
}
.container{
	margin: 0px;
	width: 100%;
}
.umtitle{
	border-bottom-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  overflow: hidden;
}
.umtitle >div{
    float: left;
		width: auto;
    height: 100%;
    padding: 0px 0px 0px 15px;
}
.umtitle >div> select {
    font-size: 14px;
    font-weight: 400;
		margin: 6px 0px 0px 0px;
    height: 27px;
    background-color: #f3f3f3;
		border-radius: 3px;
    outline: medium;
}
.umtitle >div> select:first-child {
    width: 60px;
}
.umtitle >div> select:last-child {
    width: 60px;
}
.umtitle>label {
    float: right;
    width: auto;
    height: 100%;
    margin: 0px 15px 0px 0px;
    color: #999999;
    line-height: 39px;
}
.umheard{
	background-color: #ffffff;
  margin: 0px 0px 0px 0px;
  border-bottom-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  overflow: hidden;
}
.umheard>label{
	float: left;
	margin: 0px 0px 0px 0px;
	height: 39px;
	line-height: 39px;
	font-size: 14px;
	color: #333333;
}
.umpro{
	padding: 0px 0px 0px 15px;
	width: 50vw;
}
.umprice,.umxsum{
	text-align: center;
	width: 25vw;
}
.umplist{
	height: 0px;
	background-color: #ffffff;
	overflow: auto;
}
.umplist>div{
	height: 50px;
	border-bottom-style: solid;
  border-color: #dddddd;
  border-width: 1px;
}
.umplist>div>label{
	float: left;
	margin: 0px 0px 0px 0px;
	height: 49px;
}
.umspro{
	position: relative;;
	float: left;
	height: 49px;
	padding: 0px 0px 0px 0px;
	width: 50vw;
}
.umsproN{
	width: 100%;
	height: 16px;
	margin: 16px 0px 17px 0px;
	padding: 0px 0px 0px 45px;
	font-size: 12px;
	line-height: 15px;
	color: #333333;
	overflow: hidden;
}
.umimg{
	position: absolute;
	top:9px;
	left: 10px;
	width: 30px;
	height: 30px;
  border-radius: 50%;
}
.umsprice{
	width: 25vw;
	line-height: 49px;
	text-align: center;
	font-size: 14px;
	color: #ff4200;
}
.umsprice>span{
	font-size: 10px;
}
.umsxsum{
	width: 25vw;
	line-height: 49px;
	text-align: center;
	font-size: 12px;
	color: #333333;
}
