* {
    padding: 0px;
    margin: 0px;
}

.jftitle {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    z-index: 100;
}
.jfsel {
    float: left;
    width: 50%;
    height: 100%;
    cursor: pointer;

}
.jfsel > label {
    width: 100%;
    height: 40px;
    margin: 0px;
    font-size: 14px;

    color: #333333;
    text-align: center;
    line-height: 45px;
}

.jfselactive {
    border-bottom-style: solid;
    border-color: #FFb200;
    border-width: 3px;
}

.jfselactive > label {
    color: #FFb200;
}

.usermempart{
    margin: 10px 0px 0px 0px;
    border-top-style: solid;
    border-color: #dddddd;
    border-width: 1px;
}
.mymember{
    height: 60px;
    padding: 4px 15px 4px 15px;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-color: #dddddd;
    border-width: 1px;
}
.mymember>img{
    float: left;
    width: 40px;
    margin-top: 6px;
    border-radius: 50%;
}
.memnc{
    float: left;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 5px 0px 0px 10px;
    font-size: 14px;
    color: #333333;
}
.memnc > span{
    padding: 1px 3px 2px 3px;
    border-radius: 3px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    font-size: 12px;
    color: #999999;
}
.memsy-1{
    float:right;
    text-align: right;
    width: auto;
    height: 100%;
    margin: 0px;
    line-height: 20px;
    font-size: 12px;
    color: #999999;
}
.memsy-1>span{
    font-size: 16px;
    color: #ff4200;
}
.jftotal{
  position: fixed;
  width: 100%;
  height: 30px;
  left:0px;
  bottom: 0px;
  background-color: #ffffff;
  border-top-style: solid;
  border-color: #dddddd;
  border-width: 1px;
}
.jftotal>label{
  float: right;
  margin: 0px 10px 0px 0px;
  height: 100%;
  color: #333333;
  font-size: 12px;
  line-height: 29px;
}
.jftotal>label>span{
  font-size: 14px;
  color: #ff4200
}
