*{
	margin: 0px;
	padding: 0px;
}
.outpart{
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	overflow: auto;
	-webkit-overflow-scrolling:touch;
}
.partpro{
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 10px 0px 0px 0px;
	background-color: #ffffff;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #dddddd;
}
.pimgname{
	display: block;
	position: relative;
	width: 100%;
	height: 61px;
	border-top-style: solid;
	border-width: 1px;
	border-color: #dddddd;
}
.pimg{
	display: block;
	position: absolute;
	top:0px;
	left: 0px;
	width: 65px;
	height: 60px;
	padding: 5px 5px 5px 10px;
	z-index: 1;
}
.pimg>img{
	width: 100%;
	height: 100%;
}
.pname{
	width: 100%;
	height: 100%;
	border: none;
	outline:none;
	text-indent: 70px;
	color: #333333;
	font-size: 16px;
}
.showimg{
	height: auto;
	padding: 0px 0px 5px 0px;
	overflow: hidden;
}
.showimg>label{
	position: absolute;
	width: 100%;
	height: 100%;
	color: #666666;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	/* opacity: 0.1; */
}
.showimg>label>span:first-child{
	color: #666666;
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	opacity: 0.3;
}
.showimg>label>span:last-child{
	color: #666666;
	font-size: 16px;
	line-height: 60px;
	text-align: center;
	opacity: 0.3;
}
.addimg,.seledimg{
	float: left;
	position: relative;
	width: 50px;
	height: 50px;
	margin: 5px 0px 0px 10px;
	z-index: 1;
}
#addimg,.simage{
	width: 100%;
	height: 100%;
}
.partproitem{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	border-top-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	padding: 0px 10px 0px 10px;
}
.pitemleft{
	float: left;
	height: 40px;
	color: #333333;
	font-size: 14px;
	line-height: 40px;
	width: 80px;
}
.pitemright{
	float: right;
	height: 40px;
	color: #666666;
	font-size: 12px;
	line-height: 40px;
}
.pitemright>span{
	float: right;
	height: 40px;
	width: 20px;
	background-image: url("../icon/Arrow-1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 7px;
}
.selattr,.selcontents{
	display: block;
	margin: 41px 0px 0px 0px;
	width: 100%;
	border-top-style: dashed;
	border-width: 1px;
	border-color: #dddddd;
	overflow: hidden;
}
.selclass{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 90px;
	width: 100%;
	height: 40px;
	overflow: hidden;
}
.selclass>div{
	float: left;
	width: 50%;
	height: 40px;
}
.set_class{
	display: block;
	margin: 5px 5px 5px 5px;
	height: 30px;
	line-height: 30px;
	border: #dddddd solid 1px;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	color: #666666;
}
.selclass>div>label{
	width: 100%;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	color: #666666;
	text-align: center;
}
.selclass>div>select{
	font-size: 12px;
	font-weight: 400;
	height: 30px;
	background-color: #ffffff;
	border-radius: 3px;
	outline: medium;
	width: 94%;
	margin: 5px 3% 5px 3%;
}
.selattr{
	border-bottom-style: dashed;
	margin: 0px 0px 3px 0px;
}
.tableattr{
	width: 100%;
	margin: 0px 0px -1px 0px;
}
.tableL{
	width: 20%;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-width: 1px;
	border-color: #dddddd;
}
.tableR{
	width: 80%;
	border-bottom-style: dashed;
	border-width: 1px;
	border-color: #dddddd;
	padding: 2px 0px 2px 0px;
}
.attrname{
	width: 100%;
	font-size: 12px;
	color: #333333;
	text-align: center;
}
.attraname{
	width: 100%;
	font-size: 12px;
	color: #999999;
	text-align: center;
}
.attrS{
	float: left;
	width: 23%;
	font-size: 12px;
	color: #333333;
	border-style: solid;;
	border-width: 1px;
	border-color: #ababab;
	border-radius: 3px;
	line-height: 15px;
	text-align: center;
	padding: 0px 2px 0px 2px;
	margin: 2px 0px 2px 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.sactive{
	background-color: #b51757;
	color: #ffffff;
	border-color: #b51757;
}
.editbox{
	height: 40px;
	border: none;
	outline: none;
	color: #333333;
	font-size: 14px;
}
.addrcheck{
	float: right;
	height: 40px;
	width: 50px;
	padding: 8px 0px 0px 0px;
}
.attrspro{
	text-align: center;
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 10px 0px 0px 0px;
	background-color: #f5f5f5;
	border: none;
}
.attrspro>label{
	padding: 0px 0px 0px 25px;
	background-image: url("../icon/addattr.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 18px;
}
.converattr{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 30;
}
.attrvalue{
	position: absolute;
	width: 100%;
	height: 75%;
	left: 0px;
	bottom: 0px;
	background: #ffffff;
}
.attrcontent{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	padding: 0px 0px 41px 0px;

}
.btngroup{
	position: absolute;
	width: 100%;
	height: 41px;
	left: 0px;
	bottom: 0px;
	border-top-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	z-index: 10;
}
.btngroup>label{
	float: left;
	width: 50%;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
}
.btngroup>label:first-child{
	background-color: #ffb222;
}
.btngroup>label:last-child{
	background-color: #ff4200;
}
.attrleft{
  display: block;
	max-height: 93px;
	border-bottom-style: solid;
	border-width: 3px;
	border-color: #9c9c9c;
	overflow: auto;
}
.attrright{
	display: block;
	height: 200px;
	overflow: auto;
}
.attrright>div{
	position: relative;
	display: block;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	padding: 5px 0px 5px 20%;
	overflow: hidden;
}
.attrtitle{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20%;
	height: 100%;
	text-align: center;
	border-right-style: solid;
	border-width: 1px;
	border-color: #dddddd;
}
.attrtitle>span{
	line-height: 21px;
	display: block;
	position: relative;
	top: 50%;
	margin-top: -10.5px;
}
.attrleft>label{
	float: left;
	width: 20%;
	line-height: 30px;
	text-align: center;
	border-bottom-style: solid;
	border-width: 1px;
	border-bottom-color: #dddddd;
	margin:0px 0px -1px 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.sleattractive{
	color: #ff4200!important;
}
.partattrs{
	border-top-style: solid;
	background-color: #eeeeee;
}
.partattr{
	position: relative;
	display: block;
	overflow: hidden;
	background-color: #ffffff;
	border-bottom-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	padding: 0px 45px 0px 20px;
	margin: 10px 0px -1px 0px;
}
.attritem{
	display: block;
	height: 31px;
	line-height: 30px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	margin: 1px 0px -1px 0px;
}
.attritem>label{
	float: left;
	width: 50px;
	text-align: center;
}
.attredit{
	float: left;
	border: none;
	outline: none;
	color: #333333;
	font-size: 14px;
	height: 30px;
	padding: 0px 0px 0px 10px;
	overflow: hidden;
}
.removeattr{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 45px;
	height: 100%;
	text-align: center;
}
.removeattr>span{
	display: inline-block;
	height: 40px;
	width: 40px;
	position: relative;
	top: 50%;
	margin: -20px 0px 0px 0px;
	background-image: url("../icon/deleteattr.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px;
}

/*******STYLE 1*******/
.chk_1 {
	display: none;
}

.chk_1 + label {
	background-color: #fafbfa;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	width: 50px;
	height: 25px;
}

.chk_1 + label:after {
	content: ' ';
	position: absolute;
	top: 0;
	-webkit-transition: box-shadow 0.1s ease-in;
	transition: box-shadow 0.1s ease-in;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0, 0, 0, 0.4);
}

.chk_1 + label:before {
	content: ' ';
	position: absolute;
	background: white;
	top: 1px;
	left: 1px;
	z-index: 28;
	width: 23px;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	height: 23px;
	border-radius: 100px;
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05), 0 0px 1px rgba(0, 0, 0, 0.3);
}

.chk_1:active + label:after {
	box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;
}

.chk_1:active + label:before {
	width: 37px;
}

.chk_1:checked:active + label:before {
	width: 37px;
	left: 20px;
}

.chk_1 + label:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.chk_1:checked + label:before {
	content: ' ';
	position: absolute;
	left: 26px;
	border-radius: 100px;
}

.chk_1:checked + label:after {
	content: ' ';
	font-size: 1.5em;
	position: absolute;
	background: #4cda60;
	box-shadow: 0 0 1px #4cda60;
}
.selcontents{
	height:500px;
}
.btnsure{
	display: block;
	height: 40px;
	width: 100%;
}
#addpro {
	height: 100%;
	border: none;
	outline: none;
	border-radius: 0px;
	background-color: #f34235;
	color: #ffffff;
	font-size: 16px;
}
#selhimg,#selswimg{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.markclass{
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 30;
	background-color: rgba(0, 0, 0, 0.8);
}
.classlistinfo{
	position: absolute;
	top: 200px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background-color: #ffffff;
}
.setclassinfo{
	display: block;
	height: 41px;
	border-bottom: #dddddd solid 1px;
	background-color: #ffffff;
}
.setclassinfo>.class_1{
	float: left;
	width: 60px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.setclassinfo>.class_2{
	float: left;
	width: 30px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.setclassinfo>span:last-child{
	float: right;
	width: 50px;
	height: 30px;
	line-height: 30px;
	margin: 5px 10px 0px 0px;
	background-color: #ff0000;
	text-align: center;
	border-radius: 15px;
	font-size: 14px;
	color: #ffffff;
}
.setclassinfo>input{
	float: left;
	height: 40px;
	width: calc(50% - 85px);
	margin: 0px 0px 0px 10px;
	border: none;
	outline: none;
}
.bottomclass{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 51px;
	border-top: #dddddd solid 1px;
}
.bottomclass>span{
	display: block;
	height: 50px;
	line-height: 50px;
	background-color: #f34235;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
}
.class_list{
	display: block;
	overflow: auto;
	position: absolute;
	top: 41px;
	left: 0px;
	bottom: 51px;
	width: 100%;
	background-color: #ffffff;
}
.class_list>ul{
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}
.class_list>ul>li{
	height: 41px;
	border-bottom: #dddddd solid 1px;
	list-style:none;
}
.classiteminfo>.class_name{
	float: left;
	width: calc(100% - 160px);
	line-height: 40px;
	height: 40px;
	font-size: 14px;
}
.classiteminfo>.class_sort{
	float: left;
	width: 40px;
	line-height: 40px;
	height: 40px;
	font-size: 14px;
}
.classiteminfo>.editclass{
	float: left;
	width: 50px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin: 5px 0px 0px 10px;
	background-color: #ff0000;
	text-align: center;
	border-radius: 15px;
	color: #ffffff;
}
.classiteminfo>.deleteclass{
	float: left;
	width: 50px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin: 5px 0px 0px 10px;
	background-color: #ffffff;
	text-align: center;
	color: #666666;
}
.selectclassactive>.class_name{
	color: #ff0000;
}
.prodetailsmark{
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 30;
}
.prodetailssure{
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #f34235;
}
.prodetailssure>span{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
}
.prodetails{
	display: block;
	position: absolute;
	bottom: 50px;
	left: 0px;
	width: 100%;
	height: calc(100% - 150px);
	background-color: #ffffff;
	overflow: auto;
}
.prodetailcontents{
	display: block;
	overflow: hidden;
	padding: 0px 10px 0px 10px;
}
.prodetailcontents>p{
	margin: 0px 0px 0px 0px;
}
.prodetailcontents img{
	width: 100%;
}
.procontents{
	display: block;
	width: 100%;
	height: 100%;
	height: auto;
	border: none!important;
	resize: none;
}
.addproimg{
	display: block;
	overflow: hidden;
	position: relative;
	padding: 10px 10px 10px 10px;
}
.addproimg>img{
	display: block;
	width: 100%;
}
#detailimg{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}
