<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{$TitleInfo}-{$Title}</title>
    <!-- Bootstrap -->
    <link href="__PUBLIC__/Plugins/bootstrap/CSS/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/theme2/plugins/weui/weui.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/JS/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/Plugins/bootstrap/JS/bootstrap.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/theme2/css/my.css?V=04201724" media="screen" title="no title"
          charset="utf-8">
    <link href="__PUBLIC__/theme2/css/mynew.css?v=1.2" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">

        var wxJSSDKConfig = {$wxJSSDKConfigStr};

        wx.config(wxJSSDKConfig);

        wx.ready(function (a) {
            wxReady();
        });


        function wxReady()
        {
          wx.hideAllNonBaseMenuItem();

            wx.showMenuItems({
              menuList: ["menuItem:share:appMessage","menuItem:share:timeline"] // 要显示的菜单项，所有menu项见附录3
            });
            //wx.hideAllNonBaseMenuItem();
            wx.onMenuShareAppMessage({
              title: '{$shareTitle}',
              desc: '{$shareTitle}',
              link: '{$shareUrl}',
              imgUrl: '{$shareImg}',
              trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
              },
              success: function (res) {
                alert('已分享');
              },
              cancel: function (res) {
                alert('已取消');
              },
              fail: function (res) {
                alert(JSON.stringify(res));
              }
            });

            // wx.getLocation({
            //     type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            //     success: function (res) {
            //         latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
            //         longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
            //         var speed = res.speed; // 速度，以米/每秒计
            //         var accuracy = res.accuracy; // 位置精度

            //         //console.log(latitude+'_'+longitude+'_'+speed+'_'+accuracy+'_');
            //     }
            // });




            wx.onMenuShareTimeline({
              title: '{$shareTitle}',
              link: '{$shareUrl}',
              imgUrl: '{$shareImg}',
              trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击分享到朋友圈');
              },
              success: function (res) {
                alert('已分享');
              },
              cancel: function (res) {
                alert('已取消');
              },
              fail: function (res) {
                alert(JSON.stringify(res));
              }
            });



          {$wxReadyFunction}
        }


        wx.error(function (res) {
        });

        function wxScanQRCode() {
            wx.scanQRCode({
                needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                }
            });
        }
    </script>
</head>
<body>
<!--搜索框-->
<if condition="$searchSign eq 1">
  <div class="headers">
    <!-- <img src="__PUBLIC__/theme2/Images/PageModelIcon/car-top.png" alt="">
    <img src="__PUBLIC__/theme2/Images/PageModelIcon/msg.png" alt=""> -->
    <form id="secrchForm" class="form" action="{:U('Index/GoodsList')}" method="post">
    <div class="searchpart">
      <img src="__PUBLIC__/theme2/Images/PageModelIcon/search.png" alt="" onclick="$('#secrchForm').submit();">
      <input type="text" class="searchinput" name="keyword" value="" placeholder="输入商品名称">
    </div>
    </form>
  </div>
    <div style="height:40px;"></div>
    <elseif condition="$backupPageHidden neq 0"/>
    <div class="header">
    </div>
</if>
<!--end   搜索框-->
<!--浮动菜单按钮-->
<div class="flomenu" id="touch">
    <div class="scanning" onclick="wxScanQRCode();">
    </div>
    <div class="scart">
    </div>
    <div class="cuser">
    </div>
</div>
<!--end 浮动菜单按钮-->
<div class="container-fulid">
    <div class="row" style="margin:0px;">
        <div class="container"> {__CONTENT__}</div>
    </div>
</div>
<!--<div class="waiting" style="display: none;"></div>-->
<!-- footer-menus -->
<if condition="$footerSign eq 1">

    <div style="height:55px;"></div>
    <div class="footer">

           <div class="home">
              <a href="{:U('Index/Index')}">
               <div class="ficon">
                   <img src="__PUBLIC__/theme2/Images/PageModelIcon/home{$nowBootBarStatus[0]}.png" alt="首页">
                    <br/>
                </div>
                <span>首页</span>
              </a>
            </div>

           <div class="menu">
              <a href="{:U('Index/Category')}">
               <div class="ficon">
                  <img src="__PUBLIC__/theme2/Images/PageModelIcon/list{$nowBootBarStatus[1]}.png" alt="分类">
                  <br/>
                </div>
                <span>分类</span>
              </a>
          </div>

          <div class="menu">
            <a href="{:U('Index/Index',array('stoken'=>'0'))}">
               <div class="ficon logoIndex">
                  <img style="width:40px; height: 40px; margin:10px 10px;" src="__PUBLIC__/Images/logoIndex{$nowBootBarStatus[2]}.png" alt="f">
                  <br/>
                </div>
            </a>
          </div>

          <div class="menu">
              <a href="{:U('LBS/myaddr')}">
                  <div class="ficon">
                      <img src="__PUBLIC__/theme2/Images/PageModelIcon/addr{$nowBootBarStatus[3]}.png" alt="附近门店">
                      <br/>
                  </div>
                  <span>附近门店</span>
              </a>
          </div>



          <div class="menu">
              <a href="{:U('User/Index')}">
               <div class="ficon">
                  <img src="__PUBLIC__/theme2/Images/PageModelIcon/user{$nowBootBarStatus[4]}.png" alt="个人中心">
                  <br/></div>
                  <span>个人中心</span>
              </a>
          </div>


      </div>

</if>
<!-- footer-menus -->
<!-- 没有关注公众号 -->
<if condition="$subscribe eq 0">
  <div class="subscribe">
    <marquee>您没有关注公众号,点击关注</marquee>
  </div>
  <div class="subscribeqr">
    <div>
      <img src="__PUBLIC__/theme2/images/erweimagz.jpg" alt="" style="width:100%;">
      <label>长按图片识别二维码</label>
    </div>
  </div>
</if>
<!-- 没有关注公众号end -->
<!-- weui提示框 -->
<div id="notice" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content"></p>
    </div>
</div>

<div class="weui_dialog_confirm" id="confirm" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">操作提示</strong></div>
        <div class="weui_dialog_bd"></div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default" id="esc">取消</a>
            <a href="javascript:;" class="weui_btn_dialog primary" id="enter" data-s="" data-idcard=''>确定</a>
        </div>
    </div>
</div>


<div class="weui_dialog_alert" id="alert" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示信息</strong></div>
        <div class="weui_dialog_bd"></div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary" id='alertenter'>确定</a>
        </div>
    </div>
</div>

<div id="waiting" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>

<if condition="!empty($lgp)">

    <div id="loginGift" style="width: 100%;z-index: 9999;position: fixed;top: 40px;">

        <div style="height: 30px;width: 290px;margin: 0 auto;">
            <div style="height:50px;">
                <div style="background-image:url(/Public/theme2/Images/guanbi.png);width: 30px;height: 30px;background-size: contain;background-repeat: no-repeat;float:right;" onclick="$('#loginGift').hide();"></div>
            </div>
            <div style="height:450px;background-image: url(/Public/theme2/Images/LoginGiftBG.png);background-size: contain;background-repeat: no-repeat;">
                <div style="height:125px;"></div>
                <div style="margin: 0 auto;width: 250px;height: 290px;overflow-y: auto;">
                    <div style="text-align:center;">{$lgpTips}</div>



                        <foreach name="lgp" item="gpl">
                            <div style="height: 60px;width: 230px;margin: 0 auto;background-image:url(/Public/theme2/Images/LoginGiftList.png);background-size: cover;background-repeat: no-repeat;">
                                <div style="float:left;height:60px;width:80px;">
                                    <img src="{:C('RESOURCE_URL')}{$gpl['ProLogoImg']}" style="width:55px;height:55px;margin: 3px 14px;" />
                                </div>

                                <div style="float:left;height:60px;width:150px;">
                                    <div style="font-size:16px;line-height:12px;padding-left: 10px;padding-top: 12px;"><span style="font-size:12px;">￥</span>{$gpl['Price']}</div>
                                    <div style="font-size:13px;line-height:12px;padding-left: 10px;padding-top: 12px;">{$gpl['ProName']}</div>
                                </div>
                            </div>
                            <div style="height:10px;"></div>
                        </foreach>


                </div>
            </div>
        </div>

    </div>
</if>
</body>
<script type="text/javascript" src="__PUBLIC__/theme2/js/Base.js?v=1"></script>
<script type="text/javascript">
    $('.scart').click(function () {
        window.location.href = "{:U('Order/Cart')}";
    })
    $('.jump').click(function () {
        window.location.href = $(this).attr('data-url');
    })
    $('.subscribe').click(function(){
      $('.subscribeqr').css('top','100%');
      $('.subscribeqr').css('display','block');
    	$('.subscribeqr').animate({
    		"top":"0%",
    	},500);
    });
    $('.subscribeqr').click(function(){
      $('.subscribeqr').css('top','0%');
      $('.subscribeqr').animate({
        "top":"100%",
      },500,function(){
        $('.subscribeqr').css('display','none');
      });
    });
</script>

<script>
////////浮动按钮拖动////////////////
 var div = document.getElementById('touch');
 var divstarttop;
 var divstarleft;
 div.addEventListener('touchstart', function (event) {
     // 如果这个元素的位置内只有一个手指的话

     if (event.targetTouches.length == 1) {
         var touch = event.targetTouches[0];  // 把元素放在手指所在的位置
         div.style.background = "";
         divstarttop = touch.clientY - div.offsetTop;
         divstarleft = touch.clientX - div.offsetLeft;
     }
 });

 div.addEventListener('touchmove', function (event) {
     event.preventDefault();//阻止其他事件
     // 如果这个元素的位置内只有一个手指的话
     if (event.targetTouches.length == 1) {

         var touch = event.targetTouches[0];  // 把元素放在手指所在的位置
         var divleft = touch.clientX - divstarleft;
         var divtop = touch.clientY - divstarttop;
         var divwidth = div.offsetWidth;
         var divheight = div.offsetHeight;
         if ((divleft > 0) && (divtop > 0) && (document.documentElement.clientWidth > (divleft + divwidth)) && (document.documentElement.clientHeight > (divtop + divheight))) {
             div.style.left = divleft + 'px';
             div.style.top = divtop + 'px';
         }
         div.style.background = "";
     }
 }, false);
 div.addEventListener('touchend', function (event) {

 });
</script>
</html>
