<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/My97DatePicker/WdatePicker.js"></script>
<link href="__PUBLIC__/Admin/Admin/css/plugins/chosen/chosen.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/Admin/Admin/css/my.css">
<script src="__PUBLIC__/Admin/Admin/js/plugins/chosen/chosen.jquery.js"></script>
<style type="text/css">
	.ibox{
		margin-bottom: 0px!important;
	}
</style>
<div class="row  wrapper  white-bg" style="margin:0 1%;padding-bottom:10%;">
	<div class="row">
		<div class="col-lg-6" style="display:none;">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="flot-chart">
						<div class="flot-chart-content" id="flot-bar-chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:20px;">
		<form action="{:U('Statcenter/zpdata')}" class="form-inline" method="post"  id="search">
			<div class="form-group">
				<input type="text" name="strtime" id="stime" value="{$data.strtime}" class="form-control" placeholder="请选择开始时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			</div>
			<div class="form-group">
				<input type="text" name="endtime" id="etime" value="{$data.endtime}" class="form-control" placeholder="请选择结束时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			</div>
			<button class="btn btn-primary btn-outline btn-md" type="submit"><span class="glyphicon glyphicon-search"></span> 搜 索</button> <button class="btn btn-default btn-outline btn-md" type="button" id="import"><span class="glyphicon glyphicon-export"></span> 导出</button> &emsp; <small>默认导出当月数据</small>
		</form>

	</div>
	<div class="col-sm-12">
		<if condition="$errmsg">
			<h3>{$errmsg}</h3>
			<else/>
			<table class="table table-hover table-condensed table-bordered">
				<thead>
					<tr class="success">
						<th colspan="5">查询时间： {$data.strtime}——{$data.endtime} </th>
					</tr>
					<tr>
						<th>商品条码</th>
						<th>商品名称</th>
						<th>数量</th>
						<th>订单号 </th>
						<th>赠送时间 </th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="list" >
						<tr>
							<td>{$list.Barcode}</td>
							<td>{$list.ProName}</td>
							<td>{$list.Count}</td>
							<td><a href="{:U('Order/allOrder')}?oid={$list.OrderId}">{$list.OrderId}</a></td>
							<td>{$list.CreateDate}</td>
						</tr>
					</foreach>
				</tbody>
				<thead>
					<tr class="info">
						<th colspan="5">赠送总数：{$count} </th>
					</tr>
				</thead>
			</table>
		</if>
		<div style="text-align:right;">{$page}</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#chosen').chosen();
		$('#PayName').chosen();
		$("#search").submit(function(){
			var stime=$('#stime').val();
			var etime=$('#etime').val();
			if (stime || etime) {
				if (stime && etime) {
					if (stime<etime) {
						art.dialog.tips('查询中...',100);
						return true;
					}else{
						art.dialog.alert('非法时间段');
						return false;
					}
				}else{
					art.dialog.alert('请选择完整的时间段');
					return false;
				}
			}else{
				art.dialog.tips('查询中...',100);
				return true;
			}
		})
		$('#import').click(function(){
			var stime=$('#stime').val();
			var etime=$('#etime').val();
			if (stime || etime) {
				if (stime && etime) {
					if (stime<etime) {
							art.dialog.tips('数据处理中...',3);
							window.location.href="{:U('Statcenter/zpdataOut')}?stime="+stime+"&etime="+etime;
					}else{
						art.dialog.alert('非法时间段');
						return false;
					}
				}else{
					art.dialog.alert('请选择完整的时间段');
					return false;
				}
			}else{
					art.dialog.tips('数据处理中...',3);
					window.location.href="{:U('Statcenter/zpdataOut')}?stime="+stime+"&etime="+etime;
			}
		})
	})


	


</script>
<include file="Common:footer" />
<!-- <script src="__PUBLIC__/Admin/Admin/js/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="__PUBLIC__/Admin/Admin/js/plugins/echarts/echarts-all.js"></script>
 -->