<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/validate/messages_zh.min.js"></script>
<script type="text/javascript">
    $().ready(function() {
     $("#save").validate();
    });
</script>

<div class="row  wrapper  white-bg" style="margin:0 1%;">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{$pagename}</h5>
            </div>
            <div class="ibox-content">
                <form method="post" action="{:U('Warehouse/saveSupplier')}" class="form-horizontal" id="save">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">供应商名称<span style="color:red"><b>*</b></span></label>

                        <div class="col-sm-4">
                            <input type="text" name="Supplier" id="Supplier" class="form-control required" value="{$sinfo.Supplier}"  <if condition="$sinfo">readonly="readonly"</if> >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系人</label>
                        <div class="col-sm-4">
                            <input type="text" name="Name" id="Name" class="form-control" value="{$sinfo.Name}"> <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系手机</label>

                        <div class="col-sm-4">
                            <input type="number" name="Tel" id="Tel" class="form-control" value="{$sinfo.Tel}">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系电话</label>

                        <div class="col-sm-4">
                            <input type="number" name="Phone" id="Phone" class="form-control" value="{$sinfo.Phone}">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">结算方式</label>

                        <div class="col-sm-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="statement" <if condition="$sinfo['statement'] neq '2'"> checked="checked" </if> value="1" id="">销售单据结算
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="statement"  <if condition="$sinfo['statement'] eq '2'"> checked="checked" </if>  value="2" id="">进货单据结算
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">结算扣点比</label>

                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="number" name="cut" id="" value="{$sinfo.cut}" class="form-control required">
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">地址</label>

                        <div class="col-sm-4">
                            <input type="text" name="Address" id="Address" class="form-control" value="{$sinfo.Address}">
                        </div>
                    </div>
                    <!-- <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">供应商公司名称</label>

                        <div class="col-sm-4">
                            <input type="text" name="Company" id="Company" class="form-control" value="{$sinfo.Company}">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>

                        <div class="col-sm-4">
                            <textarea name="Remarks" id="Remarks" cols="30" rows="6" class="form-control">{$sinfo.Remarks}</textarea>
                        </div>
                    </div> -->
                    <div class="hr-line-dashed"></div>
                    <input type="hidden" name="ID" value="{$sinfo.ID}">
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary btn-outline" type="submit">保存内容</button>
                            <button class="btn btn-outline btn-warning" type="reset">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 <include file="Common:footer" />
