    .num{
        border:1px solid #ccc;
        padding: 0px 5px;
        margin:0px 2px;
    }
    .num:hover{
        border:1px solid green;
        font-weight: bold;
        background: #ccc;
    }
    .current{
        border: 1px solid green;
        padding: 0 5px;
        background: #18a689;
        font-weight: bold;
        color: white;
    }
    .prev{
        padding: 0 2px;
        border:1px solid #18a689;
    }
    .prev:hover{
        font-weight: bold;
        background: #18a689;
    }
    .next{
        padding: 0 2px;
        border:1px solid #18a689;
    }
    .next:hover{
        font-weight: bold;
        background: #18a689;
    }
    .first{
        border: 1px solid #ccc;
        padding: 0 2px;
    }
    .first:hover{
        font-weight: bold;
        background-color: #ccc;
    }    
    .end{
        border: 1px solid #ccc;
        padding: 0 2px;
    }
    .end:hover{
        font-weight: bold;
        background-color: #ccc;
    }