<layout name="Public/PageModel"/>
<link rel="stylesheet" href="__PUBLIC__/Sellermobile/css/orderindex.css?v=1.0">

<div class="ordercontents">
  <div class="umenu">
    <div class="u_menu">
      <a href="{:U('User/AboutPs')}">
        <img src="__PUBLIC__/Sellermobile/icon/all_order.png" alt="">
        <label>配送管理</label>
      </a>
    </div>
    <div class="u_menu">
      <a href="{:U('User/districash')}">
        <img src="__PUBLIC__/Sellermobile/icon/tk_order.png" alt="">
        <label>配送员提现申请</label>
      </a>
    </div>
  </div>
</div>
