<layout name="Public/PageModel"/>
<style media="screen">
  .AboutContent{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
  }
  .vernno{
    display:block;
    border-bottom: #dddddd dotted 2px;
    padding: 10px 10px 10px 10px;
  }
  .vertitle{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #333333;
  }
  .vernno>p{
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 3px 0px 3px 20px;
    /* height: 20px; */
    line-height: 14px;
    font-size: 14px;
  }
</style>
<div class="AboutContent">
  <div class="vernno">
    <span class="vertitle">1.4版本</span>
    <p>1.首页调整.</p>
    <p>2.多吃优惠设置显示原价.</p>
    <p>3.确认完成订单添加桌号,就餐码,备注显示.</p>
    <p>4.备注信息添加</p>
  </div>
  <div class="vernno">
    <span class="vertitle">1.3版本</span>
    <p>1.商户订单结算修改.</p>
    <p>2.特色特价活动商品设置.</p>
    <p>3.确认完成订单.</p>
  </div>
  <div class="vernno">
    <span class="vertitle">1.2版本</span>
    <p>1.特殊商品设置.</p>
    <p>2.商户订单结算.</p>
    <p>3.商户提现.</p>
  </div>
  <div class="vernno">
    <span class="vertitle">1.1版本</span>
    <p>1.添加红包信息设置.</p>
    <p>2.添加多吃优惠设置.</p>
    <p>3.添加版本信息.</p>
  </div>
  <div class="vernno">
    <span class="vertitle">1.0版本</span>
    <p>1.程序上线.</p>
  </div>
</div>
