<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的关注</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/home/css/mui.min.css" rel="stylesheet" />
	</head>
<style type="text/css">
	
	.delebtn a span{
		color: #fff;
		background: #ff0000;
		padding: 4px 10px;
		border-radius:100px ;
	}
	.mui-media-body p{
		font-size: 12px;
	}
	.mui-media-object{
		width: 80px !important;
		height: 80px !important;
		max-width: 80px !important;
	}
	.jiage{
		color: #ff0000;
	}
	.jiage:before{
		content: "￥";
		font-size: 12px;
	}
</style>
	<body>
	<p style="text-align: center; margin-top: 10px; font-size: 12px;">我收藏的美食，左滑可以取消收藏。</p>
		<volist name="collect" id="vo">
			<ul class="mui-table-view total">
				<li class=" mui-media  mui-table-view-cell ">

					<a href="javascript:;" class="mui-slider-handle">
						<img class="mui-media-object mui-pull-left" src="{$vo.ProLogoImg}">
						<div class="mui-media-body">
							<div class="mui-ellipsis">{$vo.ProName}</div>
							<p>醉八仙烤鱼店</p>
							<span class="jiage">{$vo.Price}</span>
						</div>
					</a>
					<div class="mui-slider-right mui-disabled delebtn" data-oo="{$vo.ProId}">
					<a class="mui-btn cancle">
						<span>取消收藏</span>
					</a>
				</div>
				</li>
			</ul>
		</volist>
	</body>
	<script src="__PUBLIC__/home/js/mui.min.js"></script>
	<script src="__PUBLIC__/home/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
        mui.init();
	</script>
	<script type="text/javascript">
		//取消收藏操作
            $(document).on("tap",".cancle span",function () {
                var _this = $(this);
				var ProId = _this.parent().parent().attr('data-oo');//获取ProId的值
                $.ajax({
                    url: "{:U('Collect/cancel')}",
                    type: "post",
                    data: {
                        ProId: ProId,
                    },
                    dataType: "json",
                    success : function(msg) {
                        if(msg.status=="success") {
                            _this.parents(".mui-table-view-cell").remove();
                        }
                    }
                })
            })
	</script>

</html>