<layout name="Public/PageModel"/>
<link rel="stylesheet" href="__PUBLIC__/Sellermobile/css/proedit.css?v=4.7">
<script type="text/javascript" src="__PUBLIC__/Sellermobile/js/ajaxfileupload.js"></script>
<script type="text/javascript" src="__PUBLIC__/Sellermobile/js/proedit.js?v=2.6"></script>
<script type="text/javascript">
var proimagesave= "{:U('Products/proimage')}";//商品图片保存地址
var prosaveurl= "{:U('Products/prosave')}";//商品信息保存地址
var classdata={$Cclass};//商品所有分类
var SClassid="{$Pdata['ClassType']}";//商品所属二级分类ID
var SClassname="{$Pdata['ClassName']}";//商品所属二级分类名称
var Simages='{$Simgdata}';//修改时展示图信息
var prosaveyes="{:U('Products/prolist')}";//保存成功跳转
var classupdate_url="{:U('Products/classedit')}";//分类设置
</script>
<div class="outpart">
	<div class="partpro">
		<div class="pimgname">
			<div class="pimg">
				<?php if ($Pdata): ?>
					<img id="himage" src="{$Pdata['ProLogoImg']}">
					<input type="file"  id="selhimg" name="selimg" onchange="selhimage(this)">
					<input type="hidden" id="hdimage" value="{$Pdata['ProLogoImg']}">
				<?php else:?>
				<img id="himage" src="__PUBLIC__/Sellermobile/icon/addimg.png">
				<input type="file"  id="selhimg" name="selimg" onchange="selhimage(this)">
				<input type="hidden" id="hdimage" value="">
				<?php endif; ?>
			</div>
			<input type="text" class="pname " id="proname" name="pname" placeholder="请输入商品名称" value="{$Pdata['ProName']}">
		</div>
		<div class="showimg pimgname">
			<label>
				<span>选择商品展示图片</span>
				<span>(单击可删除)</span>
			</label>
			<div class="addimg">
				<img src="__PUBLIC__/Sellermobile/icon/addimg.png" id="addimg">
				<input type="file"  id="selswimg" name="selimg" onchange="selsimage(this)" data-sum="0">
			</div>
		</div>
	</div>
	<div class="partpro">
		<div class="partproitem">
			<label class="pitemleft">商品类别</label>
			<div class="selclass">
				<div>
					<select id="selclass-1" name="class1">
						<option value="-1">请选择</option>
						<foreach name="Pclass" item="lclass">
							<if condition="$lclass['ClassGrade'] eq 1">
								<option value="{$lclass['ClassId']}">{$lclass['ClassName']}</option>
							</if>
						</foreach>
					</select>
				</div>
				<div class="setclass">
					<span class="set_class">设置分类</span>
				</div>
				<!-- <div>
					<select id="selclass-2" name="class2">
						<option value="-1">请选择</option>
					</select>
				</div> -->
			</div>
		</div>
	</div>
	<div class="partpro partattrs">
		<foreach name="prolist" item="plitem">
			<div class="partattr" data-attrid="{$plitem['ProIdCard']}">
				<div class="attritem">
					<label>规格</label>
					<input type="text" class="attredit" name="attrtext" value="{$plitem['ProSpec1']}" placeholder="商品属性">
				</div>
				<div class="attritem" style="display:none;">
					<label>编码</label>
					<input type="text" class="attredit" name="proinputcode" value="{$plitem['InputCode']}" placeholder="商品编码">
				</div>
				<div class="attritem" style="display:none;">
					<label>条码</label>
					<input type="text" class="attredit" name="procode" value="{$plitem['ProIdInputCard']}" placeholder="商品条码">
				</div>
				<div class="attritem" style="display:none;">
					<label>价格</label>
					<input type="number" class="attredit" name="proaprice" value="<?php echo $plitem['Price']?sprintf("%.2f",$plitem['Price']):'0.00' ?>" placeholder="商品价格">
				</div>
				<div class="attritem" style="display:none;">
					<label>库存</label>
					<input type="number" class="attredit" name="procount" value="{$plitem['Count']}" placeholder="商品库存">
				</div>
				<div class="removeattr"><span onclick="delattr(this)"></span></div>
			</div>
		</foreach>
  </div>
	<div class="partpro attrspro">
	<label>添加商品属性</label>
	</div>
	<div class="partpro">
		<div class="partproitem">
			<label class="pitemleft">商品标题</label>
			<input type="text" id="protilte" class="editbox " name="ptname" placeholder="商品标题" value="{$Pdata['ProTitle']}">
		</div>
		<div class="partproitem" style="display:none;">
			<label class="pitemleft">商品说明</label>
			<input type="text" id="pronote" class="editbox " name="ptname" placeholder="商品说明" value="{$Pdata['ProSubtitle']}">
		</div>
		<div class="partproitem" >
			<label class="pitemleft">市场价格</label>
			<input type="number" id="proprice" class="editbox " name="ptname" placeholder="商品价格" value="{$Pdata['PriceRange']}">
		</div>
		<div class="partproitem">
			<label class="pitemleft">出售价格</label>
			<input type="number" id="prosaleprice" class="editbox " name="ptname" placeholder="出售价格" value="{$Pdata['Price']}">
		</div>
		<div class="partproitem">
			<label class="pitemleft">商品编号</label>
			<input type="text" id="pronumber" class="editbox " name="ptname" placeholder="商品编号" value="{$Pdata['ProNumber']}">
		</div>
		<div class="partproitem" style="display:none;">
			<label class="pitemleft">商品条码</label>
			<input type="text" id="procode" class="editbox " name="ptname" placeholder="商品条码" value="{$Pdata['Barcode']}">
		</div>
		<div class="partproitem" style="display:none;">
			<label class="pitemleft">商品重量</label>
			<input type="number" id="proweight" class="editbox " name="ptname" placeholder="商品重量 单位/g" value="{$Pdata['Weight']}">
		</div>
		<div class="partproitem" style="display:none;">
			<label class="pitemleft">备注说明</label>
			<input type="text" id="promark" class="editbox " name="ptname" placeholder="备注说明" value="{$Pdata['Remarks']}">
		</div>
		<div class="partproitem" style="display:none;">
			<label class="pitemleft">检索关键字</label>
			<input type="text" id="prosearch" class="editbox " name="ptname" placeholder="检索关键字" value="{$Pdata['KeyWord']}">
		</div>
	</div>
	<div class="partpro" style="display:none;">
		<div class="partproitem">
			<label class="pitemleft">员工提成</label>
			<input type="number" id="proecom" class="editbox " name="ptname" placeholder="员工提成 单位/%" value="{$Pdata['EmpCut']}">
		</div>
		<div class="partproitem">
			<label class="pitemleft">一级提成</label>
			<input type="number" id="proonecom" class="editbox " name="ptname" placeholder="一级提成 单位/%" value="{$Pdata['Cut']}">
		</div>
		<div class="partproitem">
			<label class="pitemleft">推广佣金</label>
			<input type="number" id="propcom" class="editbox " name="ptname" placeholder="推广佣金 单位/%" value="{$Pdata['ExtendCut']}">
		</div>
	</div>
	<div class="partpro">
		<div class="partproitem" style="display:none;">
			<label class="pitemleft">使用优惠券</label>
			<div class="addrcheck">
				<?php if($Pdata['IsUseConpon']=='1'):?>
				<input type="checkbox" id="checkbox_c1" class="chk_1" checked/>
			<?php else:?>
				<input type="checkbox" id="checkbox_c1" class="chk_1"/>
			<?php endif;?>
				<label for="checkbox_c1"></label>
			</div>
		</div>
		<div class="partproitem" style="display:none;">
			<label class="pitemleft">是否赠品</label>
			<div class="addrcheck">
				<?php if($Pdata['Iszp']=='1'):?>
				<input type="checkbox" id="checkbox_c2" class="chk_1" checked/>
			<?php else:?>
				<input type="checkbox" id="checkbox_c2" class="chk_1"/>
			<?php endif;?>
				<label for="checkbox_c2"></label>
			</div>
		</div>
		<div class="partproitem">
			<label class="pitemleft">积分兑换</label>
			<input type="number" id="proredeem" class="editbox jfedit" name="ptname" placeholder="所需积分 单位/分" value="{$Pdata['Score']}">
			<div class="addrcheck">
				<?php if($Pdata['IsUseScore']=='1') :?>
				<input type="checkbox" id="checkbox_c3" class="chk_1" checked/>
			<?php else:?>
				<input type="checkbox" id="checkbox_c3" class="chk_1"/>
			<?php endif;?>
				<label for="checkbox_c3"></label>
			</div>
		</div>

		<div class="partproitem">
			<label class="pitemleft">是否重量计算</label>
			<div class="addrcheck">
				<?php if($Pdata['NumType']=='2'):?>
				<input type="checkbox" id="checkbox_c4" class="chk_1" checked/>
			<?php else:?>
				<input type="checkbox" id="checkbox_c4" class="chk_1"/>
			<?php endif;?>
				<label for="checkbox_c4"></label>
			</div>
		</div>


		<div class="partproitem" style="display:block">
			<label class="pitemleft"> 商品详情</label>
			<label class="pitemright">选择编辑<span></span></label>
			</div>
		</div>
	</div>
</div>
<div class="btnsure">
	<button type="button" class="btn btn-danger  btn-block" id="addpro" data-type="{$Stype}" data-pid="{$proid}">保存</button>
</div>

<!-- 分类设置信息 -->
<div class="markclass">
	<div class="classlistinfo">
		<div class="setclassinfo">
			<span class="class_1">分类名称</span>
			<input type="text" class="classnameinfo" name="classnameinfo" value="" placeholder="填写分类名称">
			<span class="class_2">排序</span>
			<input type="text" class="classsortinfo" name="classsortinfo" value="" placeholder="填写排序">
		  <span class="saveclassinfo">保存</span>
		</div>

		<div class="class_list">
			<ul>
				<foreach name="Pclass" item="lclass">
					<if condition="$lclass['ClassGrade'] eq 1">
						<li class="classiteminfo" data-id="{$lclass['ClassId']}" data-sort="{$lclass['ClassSort']}">
							<span class="class_name">{$lclass['ClassName']}</span>
							<span class="class_sort">({$lclass['ClassSort']})</span>
							<span class="editclass">编辑</span>
							<span class="deleteclass">删除</span>
						</li>
					</if>
				</foreach>
			</ul>
		</div>

		<div class="bottomclass">
			<span class="closeclass">关闭</span>
		</div>
	</div>
</div>
<!-- 分类设置信息end -->
<!-- 商品性情 -->
<div class="prodetailsmark">
	<div class="prodetails">
		<div class="prodetailcontents">{$Pdata['ProContent']|htmlspecialchars_decode}</div>
		<div class="addproimg">
			<img src="__PUBLIC__/Sellermobile/icon/add_img.png" alt="">
			<input type="file"  id="detailimg" name="selimg" onchange="seldetailimg(this)">
		</div>
	</div>
	<div class="prodetailssure">
		<span>确定</span>
	</div>
</div>
<!-- 商品性情end -->
