/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
}
body {
	font-size:2em;
	-webkit-user-select: none; 
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
	line-height:1.5;
	min-width:320px;
	background-color:#EFEFF1;
	-webkit-tap-highlight-color: rgba(35,167,217,.5);
}

h1, h2, h3, h4, h5, h6{font-weight:normal;}
img{border:0;max-width:100%;}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0;}

/* swipejs */
.swipe {
  padding-bottom:20px;
  position:relative;
  z-index:1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

/* common */
.mkclearfix:after,
.po-detail:after,
.pdt-row:after,
.personal-info:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.mkfl{float:left;}
a{text-decoration:none;color:#515151;}
a:focus{outline:none;}
.swipe-nav li,
.ic-tab a{}
.po-item,
.pi-detail dt,
.cp-options,
.pi-welcome h3 a,
.sd-cont .tb-on{color:#515151;}
.pl-desc,
.ic-tab a,
.pi-detail dd,
.combo-prize .ori-p{color:#727272;}

/* default */
.ban-table{width:100%;}
.ban-table td{border-bottom:1px solid #E5E5E5;}
.ban-table img{display:block;width:100%;}
#idxNav{position:fixed;z-index:9;box-shadow:0 3px 3px #ddd inset;}
.swipe-nav{background:#fff;width:100%;}
.swipe-nav li{float:left;width:33%;font-size:1.5em;line-height:2.8;text-align:center;color:#999;border-bottom:3px solid #BFBFBF;}
#idxNav li:nth-child(2){width:34%;}
.swipe-nav li.on{color:#BF1022;border-color:#BF1022;}
.idx-tabs .it-cont{}
.pdt-row{padding:5%; border-bottom:1px solid #C4C4C4; position:relative;background-color:#FFF;}
.pl-img{float:left;width:35%;}
.pl-detail{float:left;width:60%; padding-left:5%;}
.pdt-row .deco{ position:absolute; top:0; left:0; width:20%;}
.prize{color:#BB0F20;font-style:normal;}

.idx-prize{
   width: 100px;
   line-height:30px;
   height: 30px;
   background: #C41226;
   position: relative;
   border-radius: 0 5px 5px 0;
   padding-left:10px;
   color:#fff;
   font-size:18px;
   display:block;
}
.idx-prize:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 0;
   width: 0;
   height: 10px;
   border-top: 10px solid transparent;
   border-right: 10px solid #C41226;
   border-bottom: 10px solid transparent;
}
.idx-prize:after {
   content:"";
   position: absolute;
   right: 95%;
   top: 50%;
   margin-top:-4px;
   width: 8px;
   height: 8px;
   border-radius:4px;
   background-color:#fff;
}

.pl-title{font-size:1.3em;color:#000;}
.pl-desc{font-size:1.1em;line-height:1.3;}
.pl-price{padding:4% 0 0 12px;}

#idxTabs{padding-top:4em;}
.ic-tab{margin:5% 5% 0 5%;}
.ic-tab a{width:50%;text-align:center;font-size:1em;box-shadow:0 1px 4px #bbb;float:left; line-height:2;background:-webkit-gradient(linear, left top, left bottom, from(#F5F5F7), to(#E2E2E4));}
.ic-tab a.cur{box-shadow:2px 2px 4px rgba(0,0,0,0.5) inset;color:#fff;background:#C41226;}
.ict01{border-radius:4px 0 0 4px;}
.ict02{border-radius:0 4px 4px 0;}

.my-order-list{}
.via-pc{border-left:6px solid #FDB458;}
.via-mob{border-left:6px solid #E95364;}
.long-over-orders{display:none;}
.po-item{background-color:#fff;border-bottom:3px solid #C6C6C6;margin:5%;border-radius:4px;box-shadow:1px -1px 2px rgba(0,0,0,0.1);}
.po-item header,
.po-detail,
.po-item footer{padding:2%;}
.po-item header{border-bottom:1px solid #E5E5E5;}
.po-item header a{text-decoration:none;border-bottom:1px solid #515151;}
.po-item header span,
.po-item footer span{float:right;}
.po-item header span em,
.po-item footer span em{color:#C41226;font-style:normal;}
.po-item footer{border-top:1px solid #E5E5E5;}

.po-detail img{width:74px; float:left; margin-right:3%;}
.pi-more{}

.personal-info,
.pi-welcome{padding:5% 0 5% 7.5%; background-color:#F6F6F6; border-bottom:1px solid #BFBFC1;}
.img-frame{border:1px solid #C5C5C5;padding:2%;background-color:#fff;border-radius:4px;width:25%;}
.personal-info .img-frame{float:left;margin-right:4%;}
.pi-detail{padding-top:5%;width:65%; float:left;}
.pi-detail dt{font-size:1.5em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden; margin-bottom:0.5em;}
.pi-detail dd{font-size:1.2em;}
.ctrl-pnl{padding:5% 0 5% 5%;margin-bottom:12em;}
/*.cp-options{display:inline-block;background-color:#fff;border-radius:4px;width:35%; border:1px solid #C4C4C4;padding:3.5% 5%;margin-right:4%;font-size:1.3em;}*/
.ctrl-table{width:100%;}
.ctrl-table td{width:50%;padding-top:5%;}
.ctrl-table td:nth-child(odd){padding-left:4%;padding-right:2%;}
.ctrl-table td:nth-child(even){padding-left:2%;padding-right:4%;}
.cp-options{display:block;background-color:#fff;border-radius:4px;border:1px solid #C4C4C4;padding:5% 0 5% 6%;font-size:1.2em;}
.m-ico{vertical-align:middle;width:30%;margin-right:4%;}

.page-btn{width:100%; display:block;background:-webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#E5E5E5)); text-align:center; padding:10px; border:1px solid #C4C4C4; border-radius:6px;  font-size:1.1em; color:#515151;box-sizing: border-box;}



.pi-welcome{text-align:center;padding:15% 0;}
.pi-welcome h3 a{font-size:2em;}
.pi-welcome h4 a{font-size:1.2em;color:#999;}


#pdtNav li{width:25%;}
.pt-cont iframe{border:0;width:100%; height:800px;}

#pdtImgRow{border-bottom:1px solid #fff; box-shadow:0 -2px 5px rgba(0,0,0,0.12) inset; background-color:#fff;}
#pdtImgRow li{ text-align:center; padding:10px 0;}
#pdtImgRow img{width:50%;}

.page-blk{margin:4% 5%;background-color:#fff;border:1px solid #C4C4C4;color:#515151; padding:4%; border-radius:5px; font-size:1em;}
.arrow-blk{position:relative;}
.arrow-blk .lt-cont{width:90%;}
.arrow-blk .ia-right{background:url(../../images/account/arr-right.png) no-repeat;width:13px;height:19px;margin-top:-10px;position:absolute;right:5%;top:50%;z-index:4;}

.arrow-blk .slide-down{ position:relative;}
.arrow-blk .slide-down p{width:90%;}
.slide-down .ia-down{background:url(../../images/account/arr-down.png) no-repeat;width:19px;height:13px;position:absolute;right:0; top:0; margin-top:.4em;-webkit-transition:all 0.3s}
.do-expand .ia-down{-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 40%;}

.rating-table{}
.rating-table td{vertical-align:middle;}
.rating span{float:left;}
.stars{background:url(../../images/account/stars.png) no-repeat;width:150px;height:30px; display:block; margin-top:.1em;}
.s1{ background-position:0 0;}
.s2{ background-position:0 -30px;}
.s3{ background-position:0 -60px;}
.s4{ background-position:0 -90px;}
.s5{ background-position:0 -120px;}

.sd-cont{margin-top:10%;display:none;}
.sd-cont li:first-child{margin-bottom:8%;}
.goods-options li{margin-bottom:10%;}
.do-expand .goods-options{}
.pb-txt{border:1px solid #C4C4C4;box-shadow:0 4px 4px rgba(0,0,0,0.1) inset;padding:10px 20px; border-radius:4px;box-sizing: border-box;}
.tab-btn{border:1px solid #C9C9C9; text-align:center; color:#bbb; padding:3% 6%; border-radius:4px; margin-right:3%;}
.sd-cont .tb-on{ border-color:#C41226;}
.buynow{ background:#C41226; color:#fff;}
.combo-detail{background-color:#fff;border-bottom:3px solid #C6C6C6;border-radius:4px;box-shadow:1px -1px 2px rgba(0,0,0,0.1);border-left:6px solid #FDB458;padding:0; font-size:1em;}
.combo-detail .pdt-row{border-bottom:0;}
.combo-detail .pl-img{width:22%;}
.combo-detail .pl-detail{width:70%;}
.combo-detail .arrow-blk{border-bottom:1px solid #E5E5E5;}
.combo-detail .arrow-blk:last-child{border-bottom:0;}

.combo-prize .ori-p{ text-decoration:line-through;}
.combo-prize li:last-child{color:#515151; font-size:120%;}
.order-blk{ }
.order-blk th{width:5.2em;text-align:left;font-weight:normal;}
.order-blk td{text-align:left;}
.coupon-options li{ margin-left:4em;}
.coupon-options li:last-child,
.receipt-options li:last-child{ padding-bottom:8%;}
.starter{font-style:normal;color:#111;}
.suborder-detail{margin-top:4%;}
.suborder-detail .pl-title{color:#515151;}
.suborder-detail .pl-desc{color:#515151;}
.suborder-detail > ul > li{border-bottom:1px solid #E5E5E5; padding:5% 0;}
.suborder-detail > ul > li:last-child{border-bottom:0;}
.w-ctrl{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.no-xpadd{ padding-left:0; padding-right:0}
.no-xpadd header,
.no-xpadd .arrow-blk,
.no-xpadd .sd-liner,
.no-xpadd .addr-info,
.no-xpadd .mkbox{padding-left:5%; padding-right:5%;}
.no-xpadd .ia-down,
.no-xpadd .ia-right{right:5%;}
.no-xpadd .addr-info{ padding-bottom:5%;}
.sd-liner .starter{width:30%; display:inline-block;}
.pos-right{display:inline-block;text-align:right;width:68%;}
.pb-txt::-webkit-input-placeholder {}

.fix-bottom{position:fixed;bottom:0;left:0;padding:6% 8%;border-top:1px solid #AEAEAE;background-color:#D9D9D9; width:84%; font-size:1.3em; z-index:99;}
.submit-btn{display:inline-block;text-align:center;padding:2% 5%;border:1px solid #C4C4C4; border-radius:6px; background-color:#C41226;color:#fff; position:absolute;right:8%; top:23%;}

.vsel{width:100%; height:50px; border:1px solid #D3D3D4; font-size:1.1em;}
.add-address{ margin-bottom:12%;}
.add-address li{ margin-bottom:5%;}
.add-address .pb-txt{width:98%;padding-left:2%;}
.vta{padding-bottom:0; height:100px;}

.addr-edit-zone{border-top:1px solid #E5E5E5;padding:4% 0 0;}
.addr-edit-zone table{width:100%;}
.addr-edit-zone th{vertical-align:middle; text-align:left; font-weight:normal;}
.addr-edit-zone td{vertical-align:middle;text-align:right;padding-right:5%;}

.addr-edit,
.addr-del,
.addr-setdef{padding-left:1.5em;background-size:contain;}
.addr-edit{background:url(../../images/account/ico-pen.png) no-repeat; margin-right:6%;}
.addr-del{background:url(../../images/account/ico-bin.png) no-repeat;}
.addr-setdef{background:url(../../images/account/ico-setting.png) no-repeat;}

.order-status{color:#BB0F20;}
.nx-table{width:100%;border-bottom:1px solid #E5E5E5; }
.nx-table th{ padding-left:5%;text-align:left; font-weight:normal; width:20%;}
.nx-table td{padding-right:5%;text-align:left;}
.nx-table tr:last-child th,
.nx-table tr:last-child td{ padding-bottom:3%;}

.mkbox{border-bottom:1px solid #E5E5E5;}
.mkbox p:last-child{ padding-bottom:3%;}
.order-amount-detail{ margin-top:2%;}
.order-amount-detail > li{border-bottom:1px solid #E5E5E5;margin-bottom:2%; padding:2% 5%;}
.order-amount-detail li:first-child{margin-bottom:2%;border-top:1px solid #E5E5E5;}
.order-amount-detail li:last-child{border-bottom:0;}
.multi-detail .arrow-blk{border-bottom:1px solid #E5E5E5}
.multi-detail{ font-size:1em; padding:1px;}

.multi-detail .pdt-row{border-bottom:0;}
.multi-detail .pl-img{width:22%;}
.multi-detail .pl-detail{width:70%;}
.multi-detail .arrow-blk:last-child{border-bottom:0;}
.trace-btn{text-align:center;padding:2% 8%;}
.trace-blk li{border-bottom:1px dotted #C8C8C8; padding:3% 4%;}
.trace-blk li:last-child{border-bottom:0;}
.page-msg{text-align:center;font-size:1.5em; padding:5% 0;}
.ico-succ{background:url(../../images/account/ico-succ.png) no-repeat;padding-left:50px;background-size:contain;}
.ico-fail{background:url(../../images/account/ico-err.png) no-repeat;padding-left:50px;background-size:contain;}
.w-bg{ background:#fff;}
.page-blk-nbr{margin:2px 5%;background-color:#fff;color:#515151;font-size:1.4em;}
.line-btn-l{padding:10px 0;margin:0px;}
.line-btn-r{width:95%;padding:5% 0;margin:0 0 0 5%;background:#fff;}

ul.help-answers{color:#7F7F7F; margin-top:4%;}
.contactus{font-size:1.3em;}
.contactus li{ border-bottom:1px solid #ccc; padding:4%;}
.title-font{font-size:1.2em;margin-right:.5em;color:#111;}
.order-nlogin{padding:20% 0;text-align:center;color:#595959;width:100%;}
.order-nlogin h3{padding:12% 0 4%;font-size:1.5em;}
.order-nlogin h4{font-size:1.3em;}
.btn-s1{ background:#299C17;color:#fff;border-color:#299C17;}
.vmform{margin:0px 5%;}
.vmform li{ margin-bottom:4px;}

#loginForm,
.vmform{margin-top:30px;}
.vmform .lidesc{font-size:1.4em;}

.formtable{width:90%;margin:2px 5%;}
.formtable td{padding:2px 0;vertical-align:middle;}
.formtable .txts1,
.formtable .txts2{padding-top:10px;padding-bottom:10px;}
.txts1{width:100%;padding-left:20px;padding-right:4%;text-align:left;}
.txts2{width:100%;padding-left:20px;padding-right:0;text-align:left;}
.vmform .btn-s2{margin:0; background:#fff; width:100%; padding:5% 0; color:#515151; font-size:1.6em;}
.vercode-img{vertical-align:middle;width:80%;}
.retry{padding:7px 0;width:95%;display:inline-block; vertical-align:middle;background:-webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#E5E5E5)); text-align:center; border:1px solid #C4C4C4; border-radius:4px;}
.retry-active{background:rgba(35,167,217,0.5);}
.err-note{width:100%;position:fixed;top:0;padding:10 0 1.5%; text-align:center;background:-webkit-gradient(linear, left top, left bottom, from(#FFFFE9), to(#FFF4E8));border-width: 0 0 4px 0;border-color:#C7C7C7;border-style:dashed;border-image: url(../../images/account/noteBg.png) 0 0 4 0 repeat; color:#DB4332;display: block;}

.regft{margin:0; width:100%;}
.page-submit{width:100%;}
.tempna{background:#D4D4D4;border:1px solid #B3B3B3; color:#ABABAB;}

/* width specific css */
@media all and (min-width: 320px){
body {font-size:14px;}
}

@media all and (min-width: 480px){
body {font-size:20px;}
}

@media all and (min-width: 720px){
body {font-size:26px;}
}

@media all and (min-width: 1080px){
body {font-size:30px;}
}

@media all and (min-width: 1400px){
body {font-size:16px;}
}

select {
	border:1px solid #999;
	border-radius:0.4rem;
	background-image:url(../../images/account/icon26.png), url(../../images/account/bg8.png) ;
	background-repeat:no-repeat,repeat-x ;
	background-position:right bottom, 0 0;
	height:6rem;
	padding:0 2.5%;
	color:#2D2D2D;
	-webkit-appearance: listbox;
	-moz-appearance:listbox;
	vertical-align: middle;
	}


input[type=checkbox] {
	-webkit-appearance:none;
	display:inline-block;
    width:4rem;
    height:4.3rem;
	background:transparent url(../../images/account/icon4.png) scroll no-repeat 0 0;
	background-size:100% 200%;
	-webkit-tap-highlight-color: rgba(35,167,217,0);
	}
input[type=checkbox]:checked {
	background-position:0 100%;
	}

input.active[type=checkbox],
input.active[type=radio] {
	position:relative;
	}
input.active[type=checkbox]:after,
input.active[type=radio]:after {
	content:"";
    width:3.8rem;
    height:3.9rem;
	position: absolute;
	top:0;
	left:.15rem;
	border-radius:50%;
	background-color:rgb(35,167,217);
	opacity:.5;
	z-index:20;
	} /* ontouch active highlight */

.chkTermtb{font-size:1.4em;}

#loadding_id{
	 background:#fff;position:absolute; width:45%;height:105px;margin-top:-105px;margin-left:-6px;border:0px;
	filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;
}
#loadding_id img{margin-left:45%;margin-top:30px;}

.icon-ok {background: url(../../images/account/ico-succ.png) transparent scroll no-repeat;}
.icon-error {background: url(../../images/account/ico-err.png) transparent scroll no-repeat;}
.icon-error,.icon-ok {padding: 0px;height: 50px;line-height: 50px;display: inline-block;width:50px;}
	