<!DOCTYPE html>
<html>

<block name="head"></block>

</head>
<body>
    
<block name="bod"></block>
<block name="content"></block>
<block name="nav">
    <nav class="mui-bar mui-bar-tab">
        <a id="defaultTab" class="mui-tab-item bot-ul-li" href="index.html">
            <span class="mui-icon ggg home_icon"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="activity.html">
            <span class="mui-icon ggg huod_icon"></span>
            <span class="mui-tab-label">活动</span>
        </a>
        <a class="mui-tab-item" href="myorder.html">
            <span class="mui-icon ggg order_icon"></span>
            <span class="mui-tab-label">订单</span>
        </a>
        <a class="mui-tab-item" href="mycenter.html">
            <span class="mui-icon ggg mine_icon"></span>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>
</block>

</body>
<block name="myjs"></block>
</html>
