<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/Home/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/myserviceindex.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/FontBspa.css" />
	</head>

	<body>
		<div class="Qrcodecovent">
			<div class="qrcodeinfo">
				<span>我的核销码</span>
				<img src="__PUBLIC__/Home/img/mmmm.png"/>
				<span>BtSPA20171705</span>
				<span>祝您体验愉快!</span>
			</div>
		</div>
	</body>
	<!--jq必须放在最前-->
	<script src="__PUBLIC__/Home/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="__PUBLIC__/Home/js/mui.min.js"></script>
	<script src="__PUBLIC__/Home/js/myserviceindex.js" type="text/javascript" charset="utf-8"></script>
</html>