<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/home/css/mui.min.css" rel="stylesheet" />
	</head>
		
	<body style="padding: 10px;">
		<h4>Q:红包在哪领？</h4>
		<div class="">
			打开关注的店铺，在店铺页面有各种面额的红包可供领取。
			领取红包需要满足条件；
		</div>
		<h4>Q:红包在哪领？</h4>
		<div class="">
			打开关注的店铺，在店铺页面有各种面额的红包可供领取。
			领取红包需要满足条件；
		</div>
		<h4>Q:红包在哪领？</h4>
		<div class="">
			打开关注的店铺，在店铺页面有各种面额的红包可供领取。
			领取红包需要满足条件；
		</div>
		<h4>Q:红包在哪领？</h4>
		<div class="">
			打开关注的店铺，在店铺页面有各种面额的红包可供领取。
			领取红包需要满足条件；
		</div>
		<h4>Q:红包在哪领？</h4>
		<div class="">
			打开关注的店铺，在店铺页面有各种面额的红包可供领取。
			领取红包需要满足条件；
		</div>
		<h4>Q:红包在哪领？</h4>
		<div class="">
			打开关注的店铺，在店铺页面有各种面额的红包可供领取。
			领取红包需要满足条件；
		</div>
		<h4>Q:红包在哪领？</h4>
		<div class="">
			打开关注的店铺，在店铺页面有各种面额的红包可供领取。
			领取红包需要满足条件；
		</div>
		<h4>Q:红包在哪领？</h4>
		<div class="">
			打开关注的店铺，在店铺页面有各种面额的红包可供领取。
			领取红包需要满足条件；
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<script src="__PUBLIC__/home/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>