<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/My97DatePicker/WdatePicker.js"></script>
 <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>消息接收人二维码</h5>
                    </div>
                   <div class="ibox-content">
                      <p><h2 class="text-center">请扫二维码</h2></p>

                      <div class="container" style="margin-top: 30px">
                        <img src="{:U('Seat/qrcode')}" class="img-responsive center-block" alt="" />
                      </div>
                       <p><h2 class="text-center">当前消息接收人：&emsp;{$msg}</h2></p>
                   </div> 
                </div>
            </div>
 
<include file="Common:footer" />
