<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Admin/Admin/css/plugins/chosen/chosen.css">
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<include file="$headername" />
<style type="text/css">
	.tice{
		color:red;
	}
</style>
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " id="mini" href="#" style="margin-top:0px;margin-left:0px;"><i class="fa fa-bars"></i> </a>商城相关设置</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">主页</a>
			</li>
			<li class="active">
				<strong>商城相关设置</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>


<div class="row  wrapper  white-bg" style="margin:0 1%;">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
			</div>
			<div class="ibox-content">
				<div class="col-lg-3 col-md-4 col-lg-offset-8 col-md-offset-8 pull-right" style="height:300px;border:0px solid red;position:absolute;top:5px;right:5px;">
					<div class="panel">
						<div class="panel-heading">
							<i class="fa fa-warning"></i> 提示信息
						</div>
						<div class="panel-body">
							<div class="alert alert-warning">
								?1、用户订单交易完成之后？天之后不能退款<br>
								?2、用户获得的提成？天之后可以到账并提现 <br>
								?3、商城名称 <br>
								?4、商城首页右上角大图商品 <span style="color:red;"><b>（务必选中商品后保存）</b></span> <br>
								?3、商城首页左上角两个小图商品 <span style="color:red;"><b>（务必选中商品后保存）</b></span><br>
								?6、商城发货地址（用于打印快递单） <br>
								?7、默认评论（用户快捷评论内容） <br>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<h5>退款时间设置  ?1</h5>
						<form role="form" class="form-inline" method="post" action="">
							<div class="form-group">
								<label for="exampleInputEmail2" class="sr-only">天数</label>
								<input type="number" name="score" placeholder="？天之后无法退款" id="tkday" class="form-control" value="{$time.TKtime}">
							</div>
							<button class="btn btn-white btn-outline"  id="tk" type="button">保存设置</button>
						</form>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<h5>提现时间设置 ?2</h5>
						<form role="form" class="form-inline"  method="post" action="">
							<div class="form-group">
								<label for="exampleInputEmail2" class="sr-only">天数</label>
								<input type="number"  name="score" placeholder="？天之后提成到账" id="txday" class="form-control" value="{$time.TXtime}">
							</div>
							<button class="btn btn-white btn-outline"  id="tx" type="button">保存设置</button>
						</form>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<h5>商城名称设置 ?3</h5>
						<form role="form" class="form-inline"  method="post" action="">
							<div class="form-group">
								<label for="exampleInputEmail2" class="sr-only">名称</label>
								<input type="text"  name="score" placeholder="商城名称" id="storename" class="form-control" value="{$time.storeName}">
							</div>
							<button class="btn btn-white btn-outline"  id="sname" type="button">保存设置</button>
						</form>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<h5>首页商品设置1 ?4</h5>
						<form role="form" class="form-inline"  method="post" action="{:U('BaseSetting/productonhome')}?type=1">
							<div class="form-group">
								<label for="exampleInputPassword2" class="sr-only">选择商品</label>
								<select name="ProId" id="chosen" class="form-control" value="">
									<option value="">请选择商品</option>
									<foreach name="pinfos" item="pinfo">
										<option value="{$pinfo.ProId}">{$pinfo.ProName}</option>
									</foreach>
								</select>
								<?php if ($top) { ?>
									&emsp;当前商品：<small>{$top.ProName}</small> &emsp;
								<?php } ?>
							</div>
							<button class="btn btn-white btn-outline"  type="submit">保存设置</button>
						</form>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<h5>首页商品设置2 ?5</h5>
						<form role="form" class="form-inline"  method="post" action="{:U('BaseSetting/productonhome')}?type=2">
							<div class="form-group">
								<label for="exampleInputPassword2" class="sr-only">选择商品</label>
								<select name="ProId[]" id="chosen1" class="form-control" value="">
									<option value="">请选择商品</option>
									<foreach name="pinfos" item="pinfo">
										<option value="{$pinfo.ProId}">{$pinfo.ProName}</option>
									</foreach>
								</select>
								<?php if ($lefts[0]) { ?>
									&emsp;当前商品：<small>{$lefts.0.ProName}</small> &emsp;
								<?php } ?>
							</div>
							<div class="form-group">
								<label for="exampleInputPassword2" class="sr-only">选择商品</label>
								<select name="ProId[]" id="chosen2" class="form-control" value="">
									<option value="">请选择商品</option>
									<foreach name="pinfos" item="pinfo">
										<option value="{$pinfo.ProId}">{$pinfo.ProName}</option>
									</foreach>
								</select>
								<?php if ($lefts[1]) { ?>
									&emsp;当前商品：<small>{$lefts.1.ProName}</small> &emsp;
								<?php } ?>
							</div>
							<button class="btn btn-white btn-outline"  id="" type="submit">保存设置</button>
						</form>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<h5>发货地址设置 ?6</h5>
						<form role="form" class="form-inline"  method="post" action="">
							<div class="form-group">
								<label for="exampleInputEmail2" class="sr-only">地址</label>
								<input type="text"  name="score" style="width: 400px;" placeholder="商城发货地址" id="sendaddr" class="form-control" value="{$time.sendAddr}">
							</div>
							<button class="btn btn-white btn-outline"  id="addr" type="button">保存设置</button>
						</form>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<h5>默认评价内容 ?7</h5>
						<form role="form" class="form-inline"  method="post" action="">
							<div class="form-group">
								<label for="exampleInputEmail2" class="sr-only">评价</label>
								<input type="text"  name="score" style="width: 400px;" placeholder="默认评价内容" id="defaulteval" class="form-control" value="">
							</div>
							<button class="btn btn-white btn-outline"  id="eval" type="button">保存设置</button>
						</form>
					</div>
				</div>
				<div class="col-sm-12 col-md-12">
					<if condition="$evals">
						<table class="table bordered">
							<thead>
								<tr>
									<td>评价内容</td>
									<td>操作</td>
								</tr>
							</thead>
							<tbody>
								<foreach name='evals' item='eval'>
									<tr>
										<td>{$eval.content}</td>
										<td><button class="btn btn-warning btn-xs" onclick="delval('{$eval.ID}')">删除</button></td>
									</tr>
								</foreach>
							</tbody>
						</table>
					</if>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function delval(id){
		art.dialog.confirm('确定要删除吗？',function(){
			window.location.href='{:U('BaseSetting/delval')}?id='+id;
		},function(){
			art.dialog.tips('取消操作',1);
		})
	}
	//验证
	$(document).ready(function(){
        $("#chosen").chosen();
        $("#chosen1").chosen();
        $("#chosen2").chosen();
		$('#tkday').keyup(function(){
			var tkday=$(this).val();
			$(this).val(parseInt(tkday));
        // $(this).val(parsetInt($(this).val()));
    })
		$('#txday').keyup(function(){
			var txday=$(this).val();
			$(this).val(parseInt(txday));
        // $(this).val(parsetInt($(this).val()));
    })
		$("#tk").click(function(){
			var tk=$('#tkday').val();
			if (tk) {
				art.dialog.tips('正在保存');
				$.ajax({
					url:"{:U('BaseSetting/saveTime')}",
					type:"post",
					data:"time="+tk+"&type=tk",
					dataType:"json",
					success:function(msg){
						if (msg=='success') {
							art.dialog.tips('保存成功');
						}else{
							art.dialog.tips('保存失败');
						}
					}
				})
			}else{
				art.dialog.alert('请填写天数');
			}
		})
		$("#tx").click(function(){
			var tx=$('#txday').val();
			if (tx) {
				art.dialog.tips('正在保存');
				$.ajax({
					url:"{:U('BaseSetting/saveTime')}",
					type:"post",
					data:"time="+tx+"&type=tx",
					dataType:"json",
					success:function(msg){
						if (msg=='success') {
							art.dialog.tips('保存成功');
						}else{
							art.dialog.tips('保存失败');
						}
					}
				})
			}else{
				art.dialog.alert('请填写天数');
			}
		})
		$("#sname").click(function(){
			var storename=$('#storename').val();
			if (storename) {
				art.dialog.tips('正在保存');
				$.ajax({
					url:"{:U('BaseSetting/saveTime')}",
					type:"post",
					data:"time="+storename+"&type=storename",
					dataType:"json",
					success:function(msg){
						if (msg=='success') {
							art.dialog.tips('保存成功');
						}else{
							art.dialog.tips('保存失败');
						}
					}
				})
			}else{
				art.dialog.alert('请填写商城名称');
			}
		})
		$("#addr").click(function(){
			var sendaddr=$('#sendaddr').val();
			if (sendaddr) {
				art.dialog.tips('正在保存');
				$.ajax({
					url:"{:U('BaseSetting/saveTime')}",
					type:"post",
					data:"time="+sendaddr+"&type=sendaddr",
					dataType:"json",
					success:function(msg){
						if (msg=='success') {
							art.dialog.tips('保存成功');
						}else{
							art.dialog.tips('保存失败');
						}
					}
				})
			}else{
				art.dialog.alert('请填写发货地址');
			}
		})
		$("#eval").click(function(){
			var defaulteval=$('#defaulteval').val();
			if (defaulteval) {
				art.dialog.tips('正在保存');
				$.ajax({
					url:"{:U('BaseSetting/saveTime')}",
					type:"post",
					data:"time="+defaulteval+"&type=defaulteval",
					dataType:"json",
					success:function(msg){
						if (msg=='success') {
							art.dialog.tips('保存成功');
							window.location.reload();
						}else{
							art.dialog.tips('保存失败');
						}
					}
				})
			}else{
				art.dialog.alert('请填写评价内容');
			}
		})
	})
</script>
<include file="Common:footer" />
