<layout name="Public/PageModel" />
<link rel="stylesheet" href="/Public/CSS/Wap/order.css" media="screen" title="no title" charset="utf-8">
<script src="__PUBLIC__/Plugins/qrcode/jquery.qrcode.min.js"></script>
<div class="container-fulid">
     <div class="row" style="margin:10px 0 60px 0;">
			 <!-- order-s -->

 <div class="col-xs-12 col-sm-12 o-box">
				 <div class="col-xs-12 col-sm-12 orderid">
					 <span>订单号：{$ol[0]['oid']}</span>
				 </div>


			<foreach name="ol" item="oli">
				 <div class="col-xs-12 col-sm-12 oinfo">
					 <div class="col-xs-2 col-sm-2">
						 <img src="{:C('RESOURCE_URL')}{$oli['pimg']}" alt="商品图片" />
					 </div>
					 <div class="col-xs-8 col-sm-8 titles">
						 <p>{$oli['pname']} </p>
						 <p><small>{$oli['spec']}</small></p>
					 </div>
					 <div class="col-xs-2 col-sm-2 nums">
						 <p>￥{:number_format($oli['plprice'],2)}				 </p>
						 <p><small>&times; {$oli['plcount']}</small></p>
					 </div>
				 </div>
			</foreach>

				 <div class="col-xs-12 col-sm-12 allprice">
					 总价：<span>￥ {:number_format($ol[0]['aprice'],2)}</span>
					 <div style="float:right;">
					 	
					 </div>
				 </div>
			 </div>

<div class="col-xs-12 col-sm-12 o-box">
	<form action="{:U('Account/tkPost')}" method="post">
		<div>
			<input type="hidden" id="isSend" name="isSend" value="1"></input>
			<input type="hidden" id="oid" name="oid" value="{$ol[0]['oid']}"></input>
			<input type="hidden" id="mid" name="mid" value="{$mid}"></input>
			<input type="hidden" id="backPage" name="backPage" value="{$backpageurl}"></input>
			<input type="submit" value="退款"></input>
		</div>
	</form>

</div>


    <script type="text/javascript">

    </script>