<include file="Common:top" />
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Admin/js/plugins/My97DatePicker/WdatePicker.js"></script>
<link href="__PUBLIC__/Admin/Admin/css/plugins/chosen/chosen.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/Admin/Admin/css/my.css">
<script src="__PUBLIC__/Admin/Admin/js/plugins/chosen/chosen.jquery.js"></script>
<style type="text/css">
	.ibox{
		margin-bottom: 0px!important;
	}
</style>
<include file="$headername" />

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " id="mini" href="#" style="margin-top:0px;margin-left:0px;"><i class="fa fa-bars"></i> </a>数据统计</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">主页</a>
			</li>
			<li class="active">
				<strong>订单优惠信息统计</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>
<div class="row  wrapper  white-bg" style="margin:0 1%;padding-bottom:10%;">
	<div class="row">
		<div class="col-lg-6" style="display:none;">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="flot-chart">
						<div class="flot-chart-content" id="flot-bar-chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:20px;">
		<form action="{:U('Statcenter/discountorder')}" class="form-inline" method="post"  id="search">
			<div class="form-group">
				<input type="text" name="strtime" id="stime" value="{$data.strtime}" class="form-control" placeholder="请选择开始时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			</div>
			<div class="form-group">
				<input type="text" name="endtime" id="etime" value="{$data.endtime}" class="form-control" placeholder="请选择结束时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
			</div>
			<button class="btn btn-primary btn-outline btn-md" type="submit"><span class="glyphicon glyphicon-search"></span> 搜 索</button> <button class="btn btn-default btn-outline btn-md" type="button" id="import"><span class="glyphicon glyphicon-export"></span> 导出</button> &emsp; <small>默认导出当月数据</small>
		</form>

	</div>
	<div class="col-sm-10 col-sm-offset-1">
		<if condition="$errmsg">
			<h3>{$errmsg}</h3>
			<else/>
			<table class="table table-hover table-bordered">
				<thead>
					<tr class="success">
						<th colspan="6">查询时间： {$data.strtime}——{$data.endtime} </th>
					</tr>
					<tr>
						<th>订单号</th>
						<th>用户名</th>
						<th>订单金额</th>
						<th>数量</th>
						<th>优惠信息 </th>
						<th>付款时间 </th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="list" >
						<tr>
							<td><a href="{:U('Order/allOrder')}?oid={$list.OrderId}">{$list.OrderId}</a></td>
							<td>{$list.MemberId}</td>
							<td>{$list.Price}</td>
							<td>{$list.Count}</td>
							<td>
							<if condition="$list['getcoupon']">赠送优惠券：<if condition="$list['getcouponinfo']['Type'] eq '0'">{$list.getcouponinfo.Rules}元{$list.getcouponinfo.CouponName}<else/>未知数据</if></if>
							<if condition="$list['CouponListId']"><br>使用优惠券：
								<if condition="$list['CouponListinfo']['Type'] eq '0'">{$list.CouponListinfo.Rules}元{$list.CouponListinfo.CouponName}
								<elseif condition="$list['CouponListinfo']['Type'] eq '1'" /><?php echo $list['CouponListinfo']['Rules']*10; ?>折 {$list.CouponListinfo.CouponName}
								<else/><?php $rule=explode('/', $list['CouponListinfo']['Rules']);echo "满".$rule[0]."减".$rule[1]; ?>{$list.CouponListinfo.CouponName}</if>
							</if>
							<br>
							优惠金额：{$list.Coupon}
							</td>
							<td>{$list.PayDate}</td>
						</tr>
					</foreach>
				</tbody>
				<thead>
					<tr class="info">
						<th colspan="6">订单总数：{$count} </th>
					</tr>
				</thead>
			</table>
		</if>
		<div style="text-align:right;">{$page}</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#chosen').chosen();
		$('#PayName').chosen();
		$("#search").submit(function(){
			var stime=$('#stime').val();
			var etime=$('#etime').val();
			if (stime || etime) {
				if (stime && etime) {
					if (stime<etime) {
						art.dialog.tips('查询中...',100);
						return true;
					}else{
						art.dialog.alert('非法时间段');
						return false;
					}
				}else{
					art.dialog.alert('请选择完整的时间段');
					return false;
				}
			}else{
				art.dialog.tips('查询中...',100);
				return true;
			}
		})
		$('#import').click(function(){
			var stime=$('#stime').val();
			var etime=$('#etime').val();
			if (stime || etime) {
				if (stime && etime) {
					if (stime<etime) {
							art.dialog.tips('数据处理中...',3);
							window.location.href="{:U('Statcenter/discountorderOut')}?stime="+stime+"&etime="+etime;
					}else{
						art.dialog.alert('非法时间段');
						return false;
					}
				}else{
					art.dialog.alert('请选择完整的时间段');
					return false;
				}
			}else{
					art.dialog.tips('数据处理中...',3);
					window.location.href="{:U('Statcenter/discountorderOut')}?stime="+stime+"&etime="+etime;
			}
		})
	})


	


</script>
<include file="Common:footer" />
<!-- <script src="__PUBLIC__/Admin/Admin/js/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="__PUBLIC__/Admin/Admin/js/plugins/echarts/echarts-all.js"></script>
 -->