<layout name="Public/PageModel"/>
<link rel="stylesheet" href="__PUBLIC__/Adminmobile/css/revenue.css?v=1.2">
<script type="text/javascript" src="__PUBLIC__/Adminmobile/js/echarts.common.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Adminmobile/js/revenue.js"></script>
<div class="reheard">
  <div id="scharts" class="reheard-1">
  </div>
  <div class="reheard-2">
    <div>
      <label>￥<?php echo $sdrevenue?sprintf("%.2f",$sdrevenue):'0.00' ?><br><span>七天收入</span></label>
    </div>
    <div>
      <label>￥<?php echo $maxev?sprintf("%.2f",$maxev):'0.00' ?><br><span>单日最高</span></label>
    </div>
    <div>
      <label>￥<?php echo $sdrevenue?sprintf("%.2f",$sdrevenue/7):'0.00' ?><br><span>日均</span></label>
    </div>
  </div>
</div>
<div class="part" style="display:none">
  <label>店铺营收</label>
</div>
<div class="part-con">
  <!-- <div class="esven">
    <label class="soderid">订单号:201405062013545<br><span>2016-15-15</span></label>
    <label class="sprice">200.00</label>
  </div> -->
  <label class="proven">加载更多</label>
</div>
<script type="text/javascript">
var dataday={$dataday};
var daymon={$daymon};
var dayven_url="{:U('Record/seldayven')}"; //加载所选日期的营业
</script>
